In [1]:
import pandas as pd

customer_data = pd.read_csv("customers_data.csv")
customer_data

,customerNumber,name,phone,addressline1,city,state,postalCode,country,creditLimit
0,103,Carine,40.32.2555,"54, rue Royale",Nantes,CA,44000,France,21000.0
1,112,Jean,7025551838,8489 Strong St.,Las Vegas,NV,83030,USA,71800.0
2,114,Peter,03 9520 4555,636 St Kilda Road,Melbourne,Victoria,3004,Australia,117300.0
3,119,Janine,40.67.8555,"67, rue des Cinquante Otages",Nantes,NaN,44000,France,118200.0
4,121,Jonas,07-98 9555,Erling Skakkes gate 78,Stavern,NaN,4110,Norway,81700.0
5,124,Susan,4155551450,5677 Strong St.,San Rafael,CA,97562,USA,210500.0
6,125,Zbyszek,(26) 642-7555,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,0.0
7,128,Roland,+49 69 66 90 2555,Lyonerstr. 34,Frankfurt,NaN,60528,Germany,59700.0
8,129,Julie,6505555787,5557 North Pendale Street,San Francisco,CA,94217,USA,64600.0
9,131,Kwai,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,114900.0
10,141,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain,227600.0
11,144,Christina,0921-12 3555,Berguvsvägen 8,Luleå,NaN,S-958 22,Sweden,53100.0
12,145,Jytte,31 12 3555,Vinbæltet 34,Kobenhavn,NaN,1734,Denmark,83400.0
13,146,Mary,78.32.5555,"2, rue du Commerce",Lyon,NaN,69004,France,123900.0
14,148,Eric,+65 221 7555,Bronz Sok.,Singapore,NaN,079903,Singapore,103800.0
15,151,Jeff,2125557413,4092 Furth Circle,NYC,NY,10022,USA,138500.0
16,157,Kelvin,2155551555,7586 Pompton St.,Allentown,PA,70267,USA,100600.0
17,161,Juri,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,84600.0
18,166,Wendy,+65 224 1555,106 Linden Road Sandown,Singapore,NaN,069045,Singapore,97900.0
19,167,Veysel,+47 2267 3215,Brehmen St. 121,Bergen,NaN,N 5804,Norway,96800.0

In [2]:
customer_data.loc[1:3]

,customerNumber,name,phone,addressline1,city,state,postalCode,country,creditLimit
1,112,Jean,7025551838,8489 Strong St.,Las Vegas,NV,83030,USA,71800.0
2,114,Peter,03 9520 4555,636 St Kilda Road,Melbourne,Victoria,3004,Australia,117300.0
3,119,Janine,40.67.8555,"67, rue des Cinquante Otages",Nantes,NaN,44000,France,118200.0

In [4]:
customer_data.loc[1:3,"phone":"state"]

          phone                  addressline1       city     state
1    7025551838               8489 Strong St.  Las Vegas        NV
2  03 9520 4555             636 St Kilda Road  Melbourne  Victoria
3    40.67.8555  67, rue des Cinquante Otages     Nantes       NaN

In [6]:
customer_data.loc[:,"city":"creditLimit"]

             city     state postalCode    country  creditLimit
0          Nantes        CA      44000     France      21000.0
1       Las Vegas        NV      83030        USA      71800.0
2       Melbourne  Victoria       3004  Australia     117300.0
3          Nantes       NaN      44000     France     118200.0
4         Stavern       NaN       4110     Norway      81700.0
5      San Rafael        CA      97562        USA     210500.0
6        Warszawa       NaN     01-012     Poland          0.0
7       Frankfurt       NaN      60528    Germany      59700.0
8   San Francisco        CA      94217        USA      64600.0
9             NYC        NY      10022        USA     114900.0
10         Madrid       NaN      28034      Spain     227600.0
11          Luleå       NaN   S-958 22     Sweden      53100.0
12      Kobenhavn       NaN       1734    Denmark      83400.0
13           Lyon       NaN      69004     France     123900.0
14      Singapore       NaN     079903  Singapore     103800.0
15            NYC        NY      10022        USA     138500.0
16      Allentown        PA      70267        USA     100600.0
17     Burlingame        CA      94217        USA      84600.0
18      Singapore       NaN     069045  Singapore      97900.0
19         Bergen       NaN     N 5804   Norway        96800.0

## **MINI EXERCISE**

In [7]:
import pandas as pd

film = pd.read_csv("imdb_top_1000.csv")
film

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [9]:
film.head(5)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [11]:
list_film = film.loc[250:350][["Series_Title","Released_Year","Runtime","Genre","IMDB_Rating"]]
list_film

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating
250,The Truman Show,1998,103 min,"Comedy, Drama",8.1
251,"Crna macka, beli macor",1998,127 min,"Comedy, Crime, Romance",8.1
252,The Big Lebowski,1998,117 min,"Comedy, Crime, Sport",8.1
253,Fa yeung nin wah,2000,98 min,"Drama, Romance",8.1
254,Trainspotting,1996,93 min,Drama,8.1
...,...,...,...,...,...
346,The King's Speech,2010,118 min,"Biography, Drama, History",8.0
347,The Help,2011,146 min,Drama,8.0
348,Deadpool,2016,108 min,"Action, Adventure, Comedy",8.0
349,Darbareye Elly,2009,119 min,"Drama, Mystery",8.0
350,Dev.D,2009,144 min,"Drama, Romance",8.0