In [3]:
import pandas as pd

In [4]:
superstore_df = pd.read_csv("superstore.csv")
superstore_df.head()

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,Order.Date,Order.ID,Order.Priority,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2011-01-07 00:00:00.000,CA-2011-130813,High,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,2011-01-21 00:00:00.000,CA-2011-148614,Medium,...,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,2011-08-05 00:00:00.000,CA-2011-118962,Medium,...,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,2011-08-05 00:00:00.000,CA-2011-118962,Medium,...,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,2011-09-29 00:00:00.000,CA-2011-146969,High,...,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40

In [5]:
superstore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        51290 non-null  object
 1   City            51290 non-null  object
 2   Country         51290 non-null  object
 3   Customer.ID     51290 non-null  object
 4   Customer.Name   51290 non-null  object
 5   Discount        51290 non-null  float64
 6   Market          51290 non-null  object
 7   Order.Date      51290 non-null  object
 8   Order.ID        51290 non-null  object
 9   Order.Priority  51290 non-null  object
 10  Product.ID      51290 non-null  object
 11  Product.Name    51290 non-null  object
 12  Profit          51290 non-null  float64
 13  Quantity        51290 non-null  int64
 14  Region          51290 non-null  object
 15  Row.ID          51290 non-null  int64
 16  Sales           51290 non-null  int64
 17  Segment         51290 non-null  object
 18  Ship.Date       51290 non-null  object
 19  Ship.Mode       51290 non-null  object
 20  Shipping.Cost   51290 non-null  float64
 21  State           51290 non-null  object
 22  Sub.Category    51290 non-null  object
 23  Year            51290 non-null  int64
 24  Market2         51290 non-null  object
 25  weeknum         51290 non-null  int64
dtypes: float64(3), int64(5), object(18)
memory usage: 10.2+ MB

In [ ]:
# Membuat object untuk menyimpan hasil grouping
superstore_category = superstore_df.groupby('Category')
# Menampilkan minimal dari data hasil grouping
superstore_category.min()

,City,Country,Customer.ID,Customer.Name,Discount,Market,Order.Date,Order.ID,Order.Priority,Product.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
Category,,,,,,,,,,,,,,,,,,,,,
Furniture,Aachen,Afghanistan,AA-103151,Aaron Bergman,0.0,APAC,2011-01-01 00:00:00.000,AE-2013-1130,Critical,FUR-ADV-10000002,...,2,Consumer,2011-01-07 00:00:00.000,First Class,0.040,'Amman,Bookcases,2011,APAC,1
Office Supplies,Aachen,Afghanistan,AA-103151,Aaron Bergman,0.0,APAC,2011-01-01 00:00:00.000,AE-2011-9160,Critical,OFF-ACC-10000102,...,0,Consumer,2011-01-03 00:00:00.000,First Class,0.002,'Ajman,Appliances,2011,APAC,1
Technology,Aachen,Afghanistan,AA-103151,Aaron Bergman,0.0,APAC,2011-01-02 00:00:00.000,AE-2011-9160,Critical,TEC-AC-10000007,...,1,Consumer,2011-01-06 00:00:00.000,First Class,0.040,'Ajman,Accessories,2011,APAC,1

In [10]:
superstore_category.max()

,City,Country,Customer.ID,Customer.Name,Discount,Market,Order.Date,Order.ID,Order.Priority,Product.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
Category,,,,,,,,,,,,,,,,,,,,,
Furniture,Zurich,Zimbabwe,ZD-219254,Zuschuss Donatelli,0.85,US,2014-12-31 00:00:00.000,ZI-2014-6030,Medium,FUR-TEN-10004549,...,5760,Home Office,2015-01-06 00:00:00.000,Standard Class,923.63,Šiauliai,Tables,2014,North America,53
Office Supplies,Águas Lindas de Goiás,Zimbabwe,ZD-219254,Zuschuss Donatelli,0.80,US,2014-12-31 00:00:00.000,ZI-2014-9650,Medium,OFF-XER-10004820,...,9893,Home Office,2015-01-07 00:00:00.000,Standard Class,867.69,Žilina,Supplies,2014,North America,53
Technology,Zurich,Zimbabwe,ZD-219254,Zuschuss Donatelli,0.70,US,2014-12-31 00:00:00.000,ZI-2014-9550,Medium,TEC-STA-10004927,...,22638,Home Office,2015-01-07 00:00:00.000,Standard Class,933.57,Zürich,Phones,2014,North America,53

In [12]:
# Menampilkan maksimal dari data hasil grouping
superstore_category.max()

,City,Country,Customer.ID,Customer.Name,Discount,Market,Order.Date,Order.ID,Order.Priority,Product.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
Category,,,,,,,,,,,,,,,,,,,,,
Furniture,Zurich,Zimbabwe,ZD-219254,Zuschuss Donatelli,0.85,US,2014-12-31 00:00:00.000,ZI-2014-6030,Medium,FUR-TEN-10004549,...,5760,Home Office,2015-01-06 00:00:00.000,Standard Class,923.63,Šiauliai,Tables,2014,North America,53
Office Supplies,Águas Lindas de Goiás,Zimbabwe,ZD-219254,Zuschuss Donatelli,0.80,US,2014-12-31 00:00:00.000,ZI-2014-9650,Medium,OFF-XER-10004820,...,9893,Home Office,2015-01-07 00:00:00.000,Standard Class,867.69,Žilina,Supplies,2014,North America,53
Technology,Zurich,Zimbabwe,ZD-219254,Zuschuss Donatelli,0.70,US,2014-12-31 00:00:00.000,ZI-2014-9550,Medium,TEC-STA-10004927,...,22638,Home Office,2015-01-07 00:00:00.000,Standard Class,933.57,Zürich,Phones,2014,North America,53