In [2]:
import pandas as pd

In [9]:
product_data = pd.read_csv("product.csv")
product_data

    produk_id nama_produk    kategori
0           1  Smartphone  Elektronik
1           2      Laptop  Elektronik
2           3      Kamera  Elektronik
3           4  Smartwatch  Elektronik
4           5     Speaker  Elektronik
5           6      Kemeja     Pakaian
6           7      Celana     Pakaian
7           8       Jaket     Pakaian
8           9       Dress     Pakaian
9          10        Topi     Pakaian
10         11    Kacamata   Aksesoris
11         12         Tas   Aksesoris
12         13  Jam Tangan   Aksesoris
13         14      Kalung   Aksesoris
14         15      Gelang   Aksesoris

In [10]:
order_data = pd.read_csv("order.csv")
order_data

     pesanan_id  produk_id  kuantitas    status
0           101          6          4  Diproses
1           102         15          6  Diproses
2           103          4          7  Diproses
3           104          7          6  Diterima
4           105          4          7  Diterima
..          ...        ...        ...       ...
496         597          9          5   Dikirim
497         598          3          8  Diterima
498         599          7          6   Dikirim
499         600          1          5  Diproses
500         601          6          6  Diterima

[501 rows x 4 columns]

In [11]:
# Left Join
data_join = product_data.join(order_data, lsuffix = "_left")
data_join

,produk_id_left,nama_produk,kategori,pesanan_id,produk_id,kuantitas,status
0,1,Smartphone,Elektronik,101,6,4,Diproses
1,2,Laptop,Elektronik,102,15,6,Diproses
2,3,Kamera,Elektronik,103,4,7,Diproses
3,4,Smartwatch,Elektronik,104,7,6,Diterima
4,5,Speaker,Elektronik,105,4,7,Diterima
5,6,Kemeja,Pakaian,106,6,5,Diproses
6,7,Celana,Pakaian,107,6,4,Diproses
7,8,Jaket,Pakaian,108,2,1,Dikirim
8,9,Dress,Pakaian,109,13,1,Diproses
9,10,Topi,Pakaian,110,3,9,Dikirim
10,11,Kacamata,Aksesoris,111,1,4,Diterima
11,12,Tas,Aksesoris,112,14,8,Dikirim
12,13,Jam Tangan,Aksesoris,113,11,4,Diterima
13,14,Kalung,Aksesoris,114,1,9,Diproses
14,15,Gelang,Aksesoris,115,9,1,Dikirim

In [12]:
data_join = product_data.join(order_data, rsuffix = "_right")
data_join

,produk_id,nama_produk,kategori,pesanan_id,produk_id_right,kuantitas,status
0,1,Smartphone,Elektronik,101,6,4,Diproses
1,2,Laptop,Elektronik,102,15,6,Diproses
2,3,Kamera,Elektronik,103,4,7,Diproses
3,4,Smartwatch,Elektronik,104,7,6,Diterima
4,5,Speaker,Elektronik,105,4,7,Diterima
5,6,Kemeja,Pakaian,106,6,5,Diproses
6,7,Celana,Pakaian,107,6,4,Diproses
7,8,Jaket,Pakaian,108,2,1,Dikirim
8,9,Dress,Pakaian,109,13,1,Diproses
9,10,Topi,Pakaian,110,3,9,Dikirim
10,11,Kacamata,Aksesoris,111,1,4,Diterima
11,12,Tas,Aksesoris,112,14,8,Dikirim
12,13,Jam Tangan,Aksesoris,113,11,4,Diterima
13,14,Kalung,Aksesoris,114,1,9,Diproses
14,15,Gelang,Aksesoris,115,9,1,Dikirim

In [13]:
# Buat dataframe baru yang akan menyimpan data hasil join
# Menambahkan parameter lsuffix dan rsuffix
data_join = product_data.join(order_data, lsuffix = "_left", rsuffix = "_right")

# Menampilkan 5 data teratas
data_join.head()

,produk_id_left,nama_produk,kategori,pesanan_id,produk_id_right,kuantitas,status
0,1,Smartphone,Elektronik,101,6,4,Diproses
1,2,Laptop,Elektronik,102,15,6,Diproses
2,3,Kamera,Elektronik,103,4,7,Diproses
3,4,Smartwatch,Elektronik,104,7,6,Diterima
4,5,Speaker,Elektronik,105,4,7,Diterima

In [15]:
product_data.set_index("produk_id",inplace=True)
order_data.set_index("produk_id", inplace=True)

In [16]:
product_data

          nama_produk    kategori
produk_id
1          Smartphone  Elektronik
2              Laptop  Elektronik
3              Kamera  Elektronik
4          Smartwatch  Elektronik
5             Speaker  Elektronik
6              Kemeja     Pakaian
7              Celana     Pakaian
8               Jaket     Pakaian
9               Dress     Pakaian
10               Topi     Pakaian
11           Kacamata   Aksesoris
12                Tas   Aksesoris
13         Jam Tangan   Aksesoris
14             Kalung   Aksesoris
15             Gelang   Aksesoris

In [17]:
order_data

           pesanan_id  kuantitas    status
produk_id
6                 101          4  Diproses
15                102          6  Diproses
4                 103          7  Diproses
7                 104          6  Diterima
4                 105          7  Diterima
...               ...        ...       ...
9                 597          5   Dikirim
3                 598          8  Diterima
7                 599          6   Dikirim
1                 600          5  Diproses
6                 601          6  Diterima

[501 rows x 3 columns]

In [20]:
data_join = product_data.join(order_data)
data_join

          nama_produk    kategori  pesanan_id  kuantitas    status
produk_id
1          Smartphone  Elektronik         111          4  Diterima
1          Smartphone  Elektronik         114          9  Diproses
1          Smartphone  Elektronik         128          2   Dikirim
1          Smartphone  Elektronik         132          1  Diterima
1          Smartphone  Elektronik         153          6   Dikirim
...               ...         ...         ...        ...       ...
15             Gelang   Aksesoris         461          8  Diproses
15             Gelang   Aksesoris         499          5   Dikirim
15             Gelang   Aksesoris         533          2   Dikirim
15             Gelang   Aksesoris         538          8   Dikirim
15             Gelang   Aksesoris         541          6  Diproses

[501 rows x 5 columns]