In [ ]:
import pandas as pd

list_data = [5,2,1,1]
index_data = ["IDMF", "TROF", "GODF", "DETN"]

series_data = pd.Series(list_data,index_data)
series_data

IDMF    5
TROF    2
GODF    1
DETN    1
dtype: int64

In [1]:
import pandas as pd

dict_data = {
    "IDMF" : 5,
    "TROF" : 2,
    "GODF" : 1,
    "DETN" : 1
}

series_data2 = pd.Series(dict_data)
series_data2

IDMF    5
TROF    2
GODF    1
DETN    1
dtype: int64

In [2]:
dict_data = {
    "nama_barang" : ["Indomie","Taro","Good Day","Deterjen"],
    "jenis_barang" : ["food","food","food","non food"],
    "jumlah" : [5,2,1,1]
}

df = pd.DataFrame(dict_data)
df

  nama_barang jenis_barang  jumlah
0     Indomie         food       5
1        Taro         food       2
2    Good Day         food       1
3    Deterjen     non food       1

In [ ]:
dict_data2 = {
    "nama_barang" : ["Indomie","Taro","Good Day","Detergen"],
    "jenis_barang" : ["food","food","food","non food"],
    "jumlah" : [5,2,1,1]
}
index_barang = ["IDMF","TROF","GODF","DETN"]

df2 = pd.DataFrame(dict_data2, index=index_barang)
df2

     nama_barang jenis_barang  jumlah
IDMF     Indomie         food       5
TROF        Taro         food       2
GODF    Good Day         food       1
DETN    Detergen     non food       1