In [1]:
import pandas as pd

In [3]:
superstore = pd.read_csv("superstore.csv")
superstore

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,Order.Date,Order.ID,Order.Priority,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2011-01-07 00:00:00.000,CA-2011-130813,High,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,2011-01-21 00:00:00.000,CA-2011-148614,Medium,...,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,2011-08-05 00:00:00.000,CA-2011-118962,Medium,...,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,2011-08-05 00:00:00.000,CA-2011-118962,Medium,...,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,2011-09-29 00:00:00.000,CA-2011-146969,High,...,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,2014-12-03 00:00:00.000,CA-2014-109701,High,...,69,Corporate,2014-12-04 00:00:00.000,Same Day,5.15,California,Binders,2014,North America,49
51286,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,2014-12-03 00:00:00.000,CA-2014-109701,High,...,9,Corporate,2014-12-04 00:00:00.000,Same Day,0.44,California,Binders,2014,North America,49
51287,Office Supplies,Los Angeles,United States,HR-147704,Hallie Redmond,0.2,US,2014-12-18 00:00:00.000,CA-2014-106964,Medium,...,12,Home Office,2014-12-21 00:00:00.000,First Class,0.31,California,Binders,2014,North America,51
51288,Office Supplies,Los Angeles,United States,RM-196754,Robert Marley,0.2,US,2014-12-25 00:00:00.000,CA-2014-145219,Critical,...,90,Home Office,2014-12-26 00:00:00.000,First Class,15.95,California,Binders,2014,North America,52
51289,Office Supplies,Los Angeles,United States,FH-143654,Fred Hopkins,0.2,US,2014-12-26 00:00:00.000,CA-2014-121398,Medium,...,154,Corporate,2014-12-30 00:00:00.000,Standard Class,9.59,California,Binders,2014,North America,52

In [6]:
# Buat object untuk menyimpan hasil grouping
superstore_category = superstore.groupby(by="Category")
superstore_category

In [7]:
superstore_category.first()

,City,Country,Customer.ID,Customer.Name,Discount,Market,Order.Date,Order.ID,Order.Priority,Product.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
Category,,,,,,,,,,,,,,,,,,,,,
Furniture,Paraparaumu,New Zealand,TS-216101,Troy Staebel,0.0,APAC,2011-01-31 00:00:00.000,IN-2011-81833,Medium,FUR-TA-10002341,...,1917,Consumer,2011-02-06 00:00:00.000,Standard Class,104.29,Wellington,Tables,2011,APAC,6
Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2011-01-07 00:00:00.000,CA-2011-130813,High,OFF-PA-10002005,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
Technology,Vinnytsya,Ukraine,RD-99002,Ruben Dartt,0.0,EMEA,2011-03-01 00:00:00.000,UP-2011-3730,Medium,TEC-LOG-10003896,...,1471,Consumer,2011-03-05 00:00:00.000,Standard Class,146.55,Vinnytsya,Accessories,2011,EMEA,10

In [10]:
superstore_category.size()

Category
Furniture           9876
Office Supplies    31273
Technology         10141
dtype: int64

In [11]:
# Melihat 5 data dari setiap kategori
for category, dataframe in superstore_category : 
    print(category)
    print("-------------")
    print(dataframe.head())
    print("")
    print("")

Furniture
-------------
        Category         City      Country Customer.ID   Customer.Name  \
21096  Furniture  Paraparaumu  New Zealand   TS-216101    Troy Staebel
21097  Furniture       Tehran         Iran   SZ-100352      Sam Zeldin
21098  Furniture   Phnom Penh     Cambodia   SC-206801   Steve Carroll
21099  Furniture       Galati      Romania    CM-27152  Craig Molinari
21100  Furniture        Haifa       Israel   TG-116403    Trudy Glocke

       Discount Market               Order.Date       Order.ID Order.Priority  \
21096       0.0   APAC  2011-01-31 00:00:00.000  IN-2011-81833         Medium
21097       0.0   EMEA  2011-02-22 00:00:00.000    IR-2011-360         Medium
21098       0.0   APAC  2011-03-08 00:00:00.000  IN-2011-30306         Medium
21099       0.0   EMEA  2011-05-31 00:00:00.000   RO-2011-9170         Medium
21100       0.0   EMEA  2011-09-20 00:00:00.000   IS-2011-7780         Medium

       ... Sales      Segment                Ship.Date       Ship.Mode  \
21096  ...  1917     Consumer  2011-02-06 00:00:00.000  Standard Class
21097  ...   490  Home Office  2011-02-27 00:00:00.000  Standard Class
21098  ...  1330  Home Office  2011-03-13 00:00:00.000  Standard Class
21099  ...   336    Corporate  2011-06-04 00:00:00.000  Standard Class
21100  ...   317     Consumer  2011-09-24 00:00:00.000  Standard Class

      Shipping.Cost       State  Sub.Category  Year Market2 weeknum
21096        104.29  Wellington        Tables  2011    APAC       6
21097         17.73      Tehran        Tables  2011    EMEA       9
21098         78.66  Phnom Penh        Tables  2011    APAC      11
21099         33.79      Galati        Tables  2011    EMEA      23
21100         20.57       Haifa        Tables  2011    EMEA      39

[5 rows x 26 columns]


Office Supplies
-------------
          Category         City        Country Customer.ID     Customer.Name  \
0  Office Supplies  Los Angeles  United States   LS-172304  Lycoris Saunders
1  Office Supplies  Los Angeles  United States   MV-174854     Mark Van Huff
2  Office Supplies  Los Angeles  United States   CS-121304      Chad Sievert
3  Office Supplies  Los Angeles  United States   CS-121304      Chad Sievert
4  Office Supplies  Los Angeles  United States   AP-109154    Arthur Prichep

   Discount Market               Order.Date        Order.ID Order.Priority  \
0       0.0     US  2011-01-07 00:00:00.000  CA-2011-130813           High
1       0.0     US  2011-01-21 00:00:00.000  CA-2011-148614         Medium
2       0.0     US  2011-08-05 00:00:00.000  CA-2011-118962         Medium
3       0.0     US  2011-08-05 00:00:00.000  CA-2011-118962         Medium
4       0.0     US  2011-09-29 00:00:00.000  CA-2011-146969           High

   ... Sales   Segment                Ship.Date       Ship.Mode Shipping.Cost  \
0  ...    19  Consumer  2011-01-09 00:00:00.000    Second Class          4.37
1  ...    19  Consumer  2011-01-26 00:00:00.000  Standard Class          0.94
2  ...    21  Consumer  2011-08-09 00:00:00.000  Standard Class          1.81
3  ...   111  Consumer  2011-08-09 00:00:00.000  Standard Class          4.59
4  ...     6  Consumer  2011-10-03 00:00:00.000  Standard Class          1.32

        State  Sub.Category  Year        Market2 weeknum
0  California         Paper  2011  North America       2
1  California         Paper  2011  North America       4
2  California         Paper  2011  North America      32
3  California         Paper  2011  North America      32
4  California         Paper  2011  North America      40

[5 rows x 26 columns]


Technology
-------------
         Category       City  Country Customer.ID    Customer.Name  Discount  \
19209  Technology  Vinnytsya  Ukraine    RD-99002      Ruben Dartt       0.0
19210  Technology  Marseille   France   JW-160752       Julia West       0.0
19211  Technology  São Paulo   Brazil   CR-126253      Corey Roper       0.0
19212  Technology     Naples    Italy   JC-161052  Julie Creighton       0.0
19213  Technology   Ludhiana    India   AG-104951  Andrew Gjertsen       0.0

      Market               Order.Date         Order.ID Order.Priority  ...  \
19209   EMEA  2011-03-01 00:00:00.000     UP-2011-3730         Medium  ...
19210     EU  2011-04-11 00:00:00.000  ES-2011-3376060         Medium  ...
19211  LATAM  2011-05-24 00:00:00.000   MX-2011-148033         Medium  ...
19212     EU  2011-05-25 00:00:00.000  IT-2011-1780558         Medium  ...
19213   APAC  2011-05-26 00:00:00.000    IN-2011-74994         Medium  ...

      Sales      Segment                Ship.Date       Ship.Mode  \
19209  1471     Consumer  2011-03-05 00:00:00.000  Standard Class
19210   294     Consumer  2011-04-16 00:00:00.000  Standard Class
19211   201  Home Office  2011-05-28 00:00:00.000  Standard Class
19212   698    Corporate  2011-05-29 00:00:00.000  Standard Class
19213   185    Corporate  2011-05-31 00:00:00.000  Standard Class

      Shipping.Cost                       State  Sub.Category  Year Market2  \
19209       146.550                   Vinnytsya   Accessories  2011    EMEA
19210        14.910  Provence-Alpes-Côte d'Azur   Accessories  2011      EU
19211        14.911                   São Paulo   Accessories  2011   LATAM
19212        42.030                    Campania   Accessories  2011      EU
19213        13.480                      Punjab   Accessories  2011    APAC

      weeknum
19209      10
19210      16
19211      22
19212      22
19213      22

[5 rows x 26 columns]

In [12]:
# Melihat hasil grouping untuk Category = Technology
superstore_category.get_group('Technology').head()

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,Order.Date,Order.ID,Order.Priority,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
19209,Technology,Vinnytsya,Ukraine,RD-99002,Ruben Dartt,0.0,EMEA,2011-03-01 00:00:00.000,UP-2011-3730,Medium,...,1471,Consumer,2011-03-05 00:00:00.000,Standard Class,146.550,Vinnytsya,Accessories,2011,EMEA,10
19210,Technology,Marseille,France,JW-160752,Julia West,0.0,EU,2011-04-11 00:00:00.000,ES-2011-3376060,Medium,...,294,Consumer,2011-04-16 00:00:00.000,Standard Class,14.910,Provence-Alpes-Côte d'Azur,Accessories,2011,EU,16
19211,Technology,São Paulo,Brazil,CR-126253,Corey Roper,0.0,LATAM,2011-05-24 00:00:00.000,MX-2011-148033,Medium,...,201,Home Office,2011-05-28 00:00:00.000,Standard Class,14.911,São Paulo,Accessories,2011,LATAM,22
19212,Technology,Naples,Italy,JC-161052,Julie Creighton,0.0,EU,2011-05-25 00:00:00.000,IT-2011-1780558,Medium,...,698,Corporate,2011-05-29 00:00:00.000,Standard Class,42.030,Campania,Accessories,2011,EU,22
19213,Technology,Ludhiana,India,AG-104951,Andrew Gjertsen,0.0,APAC,2011-05-26 00:00:00.000,IN-2011-74994,Medium,...,185,Corporate,2011-05-31 00:00:00.000,Standard Class,13.480,Punjab,Accessories,2011,APAC,22

In [14]:
# Buat object untuk menyimpan hasil grouping
# Grouping berdasarkan kolom Category dan Market
superstore_category_market = superstore.groupby(by = ['Category', 'Market'])
superstore_category_market.first()

                                    City         Country Customer.ID  \
Category        Market
Furniture       APAC         Paraparaumu     New Zealand   TS-216101
                Africa            Bouake   Cote d'Ivoire    BE-13351
                Canada           Saanich          Canada    CP-20852
                EMEA              Tehran            Iran   SZ-100352
                EU             Blackpool  United Kingdom   KN-163902
                LATAM   Santiago de Cuba            Cuba   BN-115153
                US       North Las Vegas   United States   NM-184454
Office Supplies APAC           Hyderabad           India   NM-184451
                Africa      Bloemfontein    South Africa    BT-14851
                Canada            Ottawa          Canada   TC-114752
                EMEA                 Ufa          Russia    DH-36753
                EU            Echirolles          France   MG-178902
                LATAM          Soyapango     El Salvador   AB-100603
                US           Los Angeles   United States   LS-172304
Technology      APAC            Ludhiana           India   AG-104951
                Africa            Kigali          Rwanda    EH-41851
                Canada            Whitby          Canada    DB-29102
                EMEA           Vinnytsya         Ukraine    RD-99002
                EU             Marseille          France   JW-160752
                LATAM          São Paulo          Brazil   CR-126253
                US                 Logan   United States   JF-152954

                            Customer.Name  Discount               Order.Date  \
Category        Market
Furniture       APAC         Troy Staebel       0.0  2011-01-31 00:00:00.000
                Africa        Bill Eplett       0.0  2011-11-22 00:00:00.000
                Canada     Cathy Prescott       0.0  2013-11-09 00:00:00.000
                EMEA           Sam Zeldin       0.0  2011-02-22 00:00:00.000
                EU      Katherine Nockton       0.0  2011-12-26 00:00:00.000
                LATAM      Bradley Nguyen       0.0  2012-10-05 00:00:00.000
                US           Nathan Mautz       0.0  2011-02-09 00:00:00.000
Office Supplies APAC         Nathan Mautz       0.0  2011-01-26 00:00:00.000
                Africa        Brad Thomas       0.0  2011-01-25 00:00:00.000
                Canada       Tony Chapman       0.0  2013-01-03 00:00:00.000
                EMEA        Duane Huffman       0.0  2011-04-13 00:00:00.000
                EU       Michael Granlund       0.0  2011-01-05 00:00:00.000
                LATAM     Adam Bellavance       0.0  2011-04-19 00:00:00.000
                US       Lycoris Saunders       0.0  2011-01-07 00:00:00.000
Technology      APAC      Andrew Gjertsen       0.0  2011-05-26 00:00:00.000
                Africa         Evan Henry       0.0  2012-05-18 00:00:00.000
                Canada        Daniel Byrd       0.0  2013-08-12 00:00:00.000
                EMEA          Ruben Dartt       0.0  2011-03-01 00:00:00.000
                EU             Julia West       0.0  2011-04-11 00:00:00.000
                LATAM         Corey Roper       0.0  2011-05-24 00:00:00.000
                US         Jason Fortune-       0.0  2011-03-14 00:00:00.000

                               Order.ID Order.Priority        Product.ID  \
Category        Market
Furniture       APAC      IN-2011-81833         Medium   FUR-TA-10002341
                Africa     IV-2011-6020         Medium  FUR-LES-10002852
                Canada     CA-2013-3530         Medium  FUR-BEV-10000388
                EMEA        IR-2011-360         Medium  FUR-HON-10003080
                EU      IT-2011-3911927         Medium   FUR-TA-10002497
                LATAM    MX-2012-101854         Medium   FUR-TA-10004840
                US       CA-2011-125759         Medium   FUR-FU-10002111
Office Supplies APAC      IN-2011-31496           High   OFF-PA-10000070
                Africa     SF-2011-2290           High  OFF-SAN-10001128
                Canada     CA-2013-1140           High  OFF-GRE-10001059
                EMEA       RS-2011-8340         Medium  OFF-BIC-10002722
                EU      ES-2011-3848439         Medium   OFF-AR-10000833
                LATAM    MX-2011-164917           High   OFF-SU-10002032
                US       CA-2011-130813           High   OFF-PA-10002005
Technology      APAC      IN-2011-74994         Medium   TEC-AC-10004016
                Africa      RW-2012-600         Medium  TEC-ENE-10003873
                Canada     CA-2013-7630         Medium  TEC-BEL-10002207
                EMEA       UP-2011-3730         Medium  TEC-LOG-10003896
                EU      ES-2011-3376060         Medium   TEC-AC-10004586
                LATAM    MX-2011-148033         Medium   TEC-AC-10004051
                US       CA-2011-114510         Medium   TEC-AC-10004877

                                                        Product.Name  ...  \
Category        Market                                                ...
Furniture       APAC        Barricks Computer Table, Fully Assembled  ...
                Africa       Lesro Computer Table, Adjustable Height  ...
                Canada               Bevis Coffee Table, Rectangular  ...
                EMEA           Hon Computer Table, Adjustable Height  ...
                EU      Chromcraft Computer Table, Adjustable Height  ...
                LATAM        Hon Conference Table, Adjustable Height  ...
                US              Master Caster Door Stop, Large Brown  ...
Office Supplies APAC         Eaton Computer Printout Paper, Recycled  ...
                Africa                      Sanford Pens, Easy-Erase  ...
                Canada                Green Bar Note Cards, 8.5 x 11  ...
                EMEA                           BIC Pens, Water Color  ...
                EU      Binney & Smith Pencil Sharpener, Water Color  ...
                LATAM                   Stiletto Scissors, Easy Grip  ...
                US                                         Xerox 225  ...
Technology      APAC               Memorex Flash Drive, Programmable  ...
                Africa             Enermax Numeric Keypad, Bluetooth  ...
                Canada                       Belkin Memory Card, USB  ...
                EMEA                      Logitech Router, Erganomic  ...
                EU                     Belkin Flash Drive, Bluetooth  ...
                LATAM              Enermax Flash Drive, Programmable  ...
                US                 Imation 30456 USB Flash Drive 8GB  ...

                        Sales      Segment                Ship.Date  \
Category        Market
Furniture       APAC     1917     Consumer  2011-02-06 00:00:00.000
                Africa    426  Home Office  2011-11-28 00:00:00.000
                Canada    316    Corporate  2013-11-14 00:00:00.000
                EMEA      490  Home Office  2011-02-27 00:00:00.000
                EU       3119    Corporate  2011-12-31 00:00:00.000
                LATAM    1847     Consumer  2012-10-09 00:00:00.000
                US         15  Home Office  2011-02-10 00:00:00.000
Office Supplies APAC       79  Home Office  2011-01-28 00:00:00.000
                Africa     45  Home Office  2011-01-26 00:00:00.000
                Canada    178  Home Office  2013-01-05 00:00:00.000
                EMEA       70  Home Office  2011-04-13 00:00:00.000
                EU         90  Home Office  2011-01-07 00:00:00.000
                LATAM      50  Home Office  2011-04-19 00:00:00.000
                US         19     Consumer  2011-01-09 00:00:00.000
Technology      APAC      185    Corporate  2011-05-31 00:00:00.000
                Africa    459     Consumer  2012-05-23 00:00:00.000
                Canada    460  Home Office  2013-08-17 00:00:00.000
                EMEA     1471     Consumer  2011-03-05 00:00:00.000
                EU        294     Consumer  2011-04-16 00:00:00.000
                LATAM     201  Home Office  2011-05-28 00:00:00.000
                US         83     Consumer  2011-03-19 00:00:00.000

                             Ship.Mode  Shipping.Cost  \
Category        Market
Furniture       APAC    Standard Class        104.290
                Africa  Standard Class         47.990
                Canada  Standard Class         28.790
                EMEA    Standard Class         17.730
                EU      Standard Class        238.030
                LATAM   Standard Class         57.171
                US         First Class          1.570
Office Supplies APAC      Second Class         13.820
                Africa     First Class          6.530
                Canada    Second Class         24.710
                EMEA          Same Day          5.930
                EU         First Class         15.270
                LATAM         Same Day          4.856
                US        Second Class          4.370
Technology      APAC    Standard Class         13.480
                Africa  Standard Class         46.270
                Canada  Standard Class         35.030
                EMEA    Standard Class        146.550
                EU      Standard Class         14.910
                LATAM   Standard Class         14.911
                US      Standard Class          4.540

                                             State Sub.Category  Year  \
Category        Market
Furniture       APAC                    Wellington       Tables  2011
                Africa           Vallee Du Bandama       Tables  2011
                Canada            British Columbia       Tables  2013
                EMEA                        Tehran       Tables  2011
                EU                         England       Tables  2011
                LATAM             Santiago de Cuba       Tables  2012
                US                          Nevada  Furnishings  2011
Office Supplies APAC                     Telangana        Paper  2011
                Africa                  Free State          Art  2011
                Canada                     Ontario        Paper  2013
                EMEA                 Bashkortostan          Art  2011
                EU                     Rhône-Alpes          Art  2011
                LATAM                 San Salvador     Supplies  2011
                US                      California        Paper  2011
Technology      APAC                        Punjab  Accessories  2011
                Africa                      Kigali  Accessories  2012
                Canada                     Ontario  Accessories  2013
                EMEA                     Vinnytsya  Accessories  2011
                EU      Provence-Alpes-Côte d'Azur  Accessories  2011
                LATAM                    São Paulo  Accessories  2011
                US                            Utah  Accessories  2011

                              Market2 weeknum
Category        Market
Furniture       APAC             APAC       6
                Africa         Africa      48
                Canada  North America      45
                EMEA             EMEA       9
                EU                 EU      53
                LATAM           LATAM      40
                US      North America       7
Office Supplies APAC             APAC       5
                Africa         Africa       5
                Canada  North America       1
                EMEA             EMEA      16
                EU                 EU       2
                LATAM           LATAM      17
                US      North America       2
Technology      APAC             APAC      22
                Africa         Africa      20
                Canada  North America      33
                EMEA             EMEA      10
                EU                 EU      16
                LATAM           LATAM      22
                US      North America      12

[21 rows x 24 columns]

In [15]:
# Melihat jumlah data untuk setiap category dan market
superstore_category_market.size()

Category         Market
Furniture        APAC      2429
                 Africa     631
                 Canada      42
                 EMEA       770
                 EU        1501
                 LATAM     2382
                 US        2121
Office Supplies  APAC      6177
                 Africa    3045
                 Canada     277
                 EMEA      3297
                 EU        6589
                 LATAM     5862
                 US        6026
Technology       APAC      2396
                 Africa     911
                 Canada      65
                 EMEA       962
                 EU        1910
                 LATAM     2050
                 US        1847
dtype: int64

# **MINI EXERCISE**

In [16]:
netflix = pd.read_csv("Netflix_TV_Shows_and_Movies.csv")
netflix

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,tt0075314,8.3,795222.0
1,1,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,tt0071853,8.2,530877.0
2,2,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,tt0079470,8.0,392419.0
3,3,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,tt0070047,8.1,391942.0
4,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0
...,...,...,...,...,...,...,...,...,...,...,...
5278,5278,tm1040816,Momshies! Your Soul is Mine,MOVIE,Three women with totally different lives accid...,2021,NaN,108,tt14412240,5.8,26.0
5279,5279,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,tt13857480,6.9,39.0
5280,5280,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,tt14620732,6.5,32.0
5281,5281,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,tt10168094,6.2,9.0
5282,5282,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,tt13711094,8.8,16.0

In [19]:
netflix_type_certification = netflix.groupby(by=["type","age_certification"])
netflix_type_certification.first()

                         index        id                             title  \
type  age_certification
MOVIE G                      6  tm185072                      My Fair Lady
      NC-17                570   tm49865                             Aamir
      PG                     1  tm127384   Monty Python and the Holy Grail
      PG-13                  9   tm67378                 The Professionals
      R                      0   tm84618                       Taxi Driver
SHOW  TV-14                  4   ts22164      Monty Python's Flying Circus
      TV-G                  56   ts20678                 Saved by the Bell
      TV-MA                 28   ts45948  Monty Python's Fliegender Zirkus
      TV-PG                 43   ts20681                          Seinfeld
      TV-Y                  53   ts21715                  Thomas & Friends
      TV-Y7                100   ts21223                          PokÃ©mon

                                                               description  \
type  age_certification
MOVIE G                  A snobbish phonetics professor agrees to a wag...
      NC-17              A doctor of Indian origin returning to Mumbai ...
      PG                 King Arthur, accompanied by his squire, recrui...
      PG-13              An arrogant Texas millionaire hires four adven...
      R                  A mentally unstable Vietnam War veteran works ...
SHOW  TV-14              A British sketch comedy series with the shows ...
      TV-G               Lovable schemer Zack Morris leads his pals on ...
      TV-MA              Monty Python's Fliegender Zirkus consisted of ...
      TV-PG              A stand-up comedian and his three offbeat frie...
      TV-Y               Thomas & Friends is a British children's telev...
      TV-Y7              Join Ash accompanied by his partner Pikachu, a...

                         release_year  runtime    imdb_id  imdb_score  \
type  age_certification
MOVIE G                          1964      170  tt0058385         7.8
      NC-17                      2008       99  tt1241195         7.6
      PG                         1975       91  tt0071853         8.2
      PG-13                      1966      117  tt0060862         7.3
      R                          1976      113  tt0075314         8.3
SHOW  TV-14                      1969       30  tt0063929         8.8
      TV-G                       1989       23  tt0096694         7.1
      TV-MA                      1972       43  tt0202477         8.1
      TV-PG                      1989       24  tt0098904         8.9
      TV-Y                       1984       10  tt0086815         6.5
      TV-Y7                      1997       22  tt0168366         7.6

                         imdb_votes
type  age_certification
MOVIE G                     94121.0
      NC-17                 11241.0
      PG                   530877.0
      PG-13                 16168.0
      R                    795222.0
SHOW  TV-14                 72895.0
      TV-G                  34854.0
      TV-MA                  2144.0
      TV-PG                302700.0
      TV-Y                   4948.0
      TV-Y7                   172.0

In [21]:
# Menampilkan data dengan type : MOVIE dan age_certification : NC-17
netflix_type_certification.get_group(('MOVIE', 'NC-17'))

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
570,570,tm49865,Aamir,MOVIE,A doctor of Indian origin returning to Mumbai ...,2008,NC-17,99,tt1241195,7.6,11241.0
692,692,tm60844,Berserk: The Golden Age Arc I - The Egg of the...,MOVIE,"Guts, an immensely strong sword-for-hire, has ...",2012,NC-17,76,tt2311238,7.5,12278.0
794,794,tm164090,Lavell Crawford: Can a Brother Get Some Love?,MOVIE,"""Last Comic Standing"" runner-up Lavell Crawfor...",2011,NC-17,90,tt2084872,6.9,230.0
963,963,tm167944,Berserk: The Golden Age Arc III - The Advent,MOVIE,A year has passed since Guts parted ways with ...,2013,NC-17,110,tt2358913,7.8,9942.0
1221,1221,tm245271,Gantz:O,MOVIE,"Somewhere in Tokyo, there is a room. In that r...",2016,NC-17,95,tt5923962,7.1,14501.0
1945,1945,tm217228,Death Note,MOVIE,A young man comes to possess a supernatural no...,2017,NC-17,101,tt1241317,4.5,83519.0
2221,2221,tm408941,Mercury 13,MOVIE,"After rigorous testing in 1961, a small group ...",2018,NC-17,79,tt8139850,6.9,1160.0
2404,2404,tm429382,Nappily Ever After,MOVIE,"After an accident at the hair salon, Violet re...",2018,NC-17,100,tt0365545,6.4,9139.0
2462,2462,tm515157,Point Blank,MOVIE,A top spy must clear his name when he faces mi...,2017,NC-17,86,tt2499472,5.7,14184.0
2490,2490,tm440678,Revenger,MOVIE,Hell-bent on avenging the murder of his family...,2018,NC-17,102,tt9426186,5.7,4252.0
3406,3406,tm933375,Cuties,MOVIE,"Amy, an 11-year-old girl, joins a group of dan...",2020,NC-17,96,tt9196192,3.3,30030.0
3510,3510,tm922532,Freaks â€“ You're One of Us,MOVIE,After having a chance encounter with a mysteri...,2020,NC-17,93,tt12875782,5.4,5809.0
3653,3653,tm283581,Super Deluxe,MOVIE,"An unfaithful newly-wed wife, an estranged fat...",2019,NC-17,176,tt7019942,8.4,13680.0