In [1]:
import pandas as pd

In [2]:
# Read Data
mp_country_1 = pd.read_csv("most-polluted-countries-1.csv")

# Tampilkan 5 data teratas
mp_country_1.head()

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
0,1428627663,0.00808,India,356,Asia,True,2973190.0,480.5033,1244.5036,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",1,58.08
1,1425671352,-0.00015,China,156,Asia,True,9424702.9,151.2696,391.7884,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",2,39.12
2,339996563,0.00505,United States,840,North America,True,9147420.0,37.1686,96.2666,"CAN, MEX",3,9.04
3,277534122,0.00738,Indonesia,360,Asia,True,1877519.0,147.8196,382.8528,"TLS, MYS, PNG",4,51.71
4,240485658,0.01976,Pakistan,586,Asia,True,770880.0,311.9625,807.9829,"AFG, CHN, IND, IRN",5,65.81

In [3]:
# Tampilkan info
mp_country_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   pollution_2023                           50 non-null     int64
 1   pollution_growth_Rate                    50 non-null     float64
 2   country_name                             50 non-null     object
 3   ccn3                                     50 non-null     int64
 4   country_region                           50 non-null     object
 5   united_nation_Member                     50 non-null     bool
 6   country_land_Area_in_Km                  50 non-null     float64
 7   pollution_density_in_km                  50 non-null     float64
 8   pollution_density_per_Mile               50 non-null     float64
 9   share_borders                            46 non-null     object
 10  pollution_Rank                           50 non-null     int64
 11  mostPollutedCountries_particlePollution  50 non-null     float64
dtypes: bool(1), float64(5), int64(3), object(3)
memory usage: 4.5+ KB

In [4]:
# Read data
mp_country_2 = pd.read_csv("most-polluted-countries-2.csv")

# Tampilkan 5 data teratas
mp_country_2.head()

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
0,18190484,0.01053,Ecuador,218,South America,True,248360.0,73.2424,189.6978,"COL, PER",68,8.60
1,18092026,0.01391,Guatemala,320,North America,True,107160.0,168.8319,437.2746,"BLZ, SLV, HND, MEX",70,20.20
2,17618299,0.00309,Netherlands,528,Europe,True,33670.0,523.2640,1355.2538,"BEL, DEU",72,10.91
3,16944826,0.01056,Cambodia,116,Asia,True,176520.0,95.9938,248.6239,"LAO, THA, VNM",73,21.10
4,11686140,0.00259,Belgium,56,Europe,True,30280.0,385.9359,999.5741,"FRA, DEU, LUX, NLD",82,12.52

In [5]:
# Tampilkan info
mp_country_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 12 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   pollution_2023                           46 non-null     int64
 1   pollution_growth_Rate                    46 non-null     float64
 2   country_name                             46 non-null     object
 3   ccn3                                     46 non-null     int64
 4   country_region                           46 non-null     object
 5   united_nation_Member                     46 non-null     bool
 6   country_land_Area_in_Km                  46 non-null     float64
 7   pollution_density_in_km                  46 non-null     float64
 8   pollution_density_per_Mile               46 non-null     float64
 9   share_borders                            39 non-null     object
 10  pollution_Rank                           46 non-null     int64
 11  mostPollutedCountries_particlePollution  46 non-null     float64
dtypes: bool(1), float64(5), int64(3), object(3)
memory usage: 4.1+ KB

In [6]:
# Buat dataframe baru untuk menyimpan hasil concat
mp_country_concat = pd.concat([mp_country_1, mp_country_2],
                              ignore_index = True)

# Menampilkan 5 data teratas
mp_country_concat.head()

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
0,1428627663,0.00808,India,356,Asia,True,2973190.0,480.5033,1244.5036,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",1,58.08
1,1425671352,-0.00015,China,156,Asia,True,9424702.9,151.2696,391.7884,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",2,39.12
2,339996563,0.00505,United States,840,North America,True,9147420.0,37.1686,96.2666,"CAN, MEX",3,9.04
3,277534122,0.00738,Indonesia,360,Asia,True,1877519.0,147.8196,382.8528,"TLS, MYS, PNG",4,51.71
4,240485658,0.01976,Pakistan,586,Asia,True,770880.0,311.9625,807.9829,"AFG, CHN, IND, IRN",5,65.81

In [7]:
# Menampilkan 5 data terakhir
mp_country_concat.tail()

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
91,704149,0.01292,Macau,446,Asia,False,32.9,21402.7052,55433.0064,CHN,167,23.50
92,654768,0.01107,Luxembourg,442,Europe,True,2574.5,254.3282,658.7101,"BEL, FRA, DEU",168,9.60
93,535064,0.00333,Malta,470,Europe,True,320.0,1672.0750,4330.6743,NaN,173,9.40
94,412623,0.00644,Bahamas,44,North America,True,10010.0,41.2211,106.7626,NaN,176,3.30
95,375318,0.00649,Iceland,352,Europe,True,100830.0,3.7223,9.6407,NaN,179,5.55

In [8]:
# Buat object untuk menyimpan hasil grouping
region_group = mp_country_concat.groupby(by = 'country_region')

In [9]:
# Tampilkan data petama dari setiap region
region_group.first()

,pollution_2023,pollution_growth_Rate,country_name,ccn3,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
country_region,,,,,,,,,,,
Africa,223804632,0.02408,Nigeria,566,True,910770.0,245.7312,636.4439,"BEN, CMR, TCD, NER",6,21.40
Asia,1428627663,0.00808,India,356,True,2973190.0,480.5033,1244.5036,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",1,58.08
Europe,144444359,-0.00186,Russia,643,True,16376870.0,8.8200,22.8439,"AZE, BLR, CHN, EST, FIN, GEO, KAZ, PRK, LVA, L...",9,9.85
North America,339996563,0.00505,United States,840,True,9147420.0,37.1686,96.2666,"CAN, MEX",3,9.04
Oceania,26439111,0.01000,Australia,36,True,7692020.0,3.4372,8.9024,None,55,8.00
South America,216422446,0.00515,Brazil,76,True,8358140.0,25.8936,67.0645,"ARG, BOL, COL, GUF, GUY, PRY, PER, SUR, URY, VEN",7,15.77

In [10]:
# Buat dataframe baru untuk menyimpan data region Asia
polution_asia = region_group.get_group('Asia')

# Tampilkan 5 data teratas
polution_asia.head()

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
0,1428627663,0.00808,India,356,Asia,True,2973190.0,480.5033,1244.5036,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",1,58.08
1,1425671352,-0.00015,China,156,Asia,True,9424702.9,151.2696,391.7884,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",2,39.12
3,277534122,0.00738,Indonesia,360,Asia,True,1877519.0,147.8196,382.8528,"TLS, MYS, PNG",4,51.71
4,240485658,0.01976,Pakistan,586,Asia,True,770880.0,311.9625,807.9829,"AFG, CHN, IND, IRN",5,65.81
7,172954319,0.01033,Bangladesh,50,Asia,True,130170.0,1328.6803,3441.2821,"MMR, IND",8,83.30

In [11]:
# Mendapakan data dengan polusi paling tinggi
polution_max = polution_asia[polution_asia['pollution_2023'] == polution_asia['pollution_2023'].max()]

# Print Negara dengan pollution_2023 paling tinggi
print(f"Negara dengan polusi tertinggi : {polution_max.country_name.values[0]}")

# Menampilkan data dengan pollution_2023 paling tinggi
polution_max

Negara dengan polusi tertinggi : India

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
0,1428627663,0.00808,India,356,Asia,True,2973190.0,480.5033,1244.5036,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",1,58.08

In [12]:
# Mendapakan data dengan polusi paling rendah
polution_min = polution_asia[polution_asia['pollution_2023'] == polution_asia['pollution_2023'].min()]

# Print Negara dengan pollution_2023 paling rendah
print(f"Negara dengan polusi terendah : {polution_min.country_name.values[0]}")

# Menampilkan data dengan pollution_2023 paling rendah
polution_min

Negara dengan polusi terendah : Macau

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
91,704149,0.01292,Macau,446,Asia,False,32.9,21402.7052,55433.0064,CHN,167,23.5

In [13]:
# Mendapakan rata-rata polusi pada region Asia
polution_mean_value = polution_asia['pollution_2023'].mean()

# Mendapatkan data negara dengan polusi dibawah rata-rata
polution_mean_less = polution_asia[polution_asia['pollution_2023'] < polution_mean_value]

# Mendapatkan data negara dengan polusi diatas rata-rata
polution_mean_more = polution_asia[polution_asia['pollution_2023'] > polution_mean_value]

In [14]:
# Menampilkan data negara dengan polusi dibawah rata-rata
polution_mean_less

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
11,123294513,-0.00530,Japan,392,Asia,True,364500.0,338.2566,876.0845,NaN,12,11.36
12,117337368,0.01539,Philippines,608,Asia,True,298170.0,393.5251,1019.2299,NaN,13,17.63
15,98858950,0.00685,Vietnam,704,Asia,True,313429.0,315.4110,816.9145,"KHM, CHN, LAO",16,34.06
16,89172767,0.00703,Iran,364,Asia,True,1622500.0,54.9601,142.3467,"AFG, ARM, AZE, IRQ, PAK, TUR, TKM",17,24.27
17,85816199,0.00557,Turkey,792,Asia,True,783562.0,109.5206,283.6584,"ARM, AZE, BGR, GEO, GRC, IRN, IRQ, SYR",18,20.62
19,71801279,0.00145,Thailand,764,Asia,True,510890.0,140.5416,364.0026,"MMR, KHM, LAO, MYS",20,24.25
24,54577997,0.00736,Myanmar,104,Asia,True,652670.0,83.6227,216.5827,"BGD, CHN, IND, LAO, THA",27,31.00
26,51784059,-0.00061,South Korea,410,Asia,True,97600.0,530.5744,1374.1876,PRK,29,24.78
31,45504560,0.02266,Iraq,368,Asia,True,434128.0,104.8183,271.4794,"IRN, JOR, KWT, SAU, SYR, TUR",35,39.60
32,42239854,0.02702,Afghanistan,4,Asia,True,652230.0,64.7622,167.7341,"IRN, PAK, TKM, UZB, TJK, CHN",36,58.80
35,36947025,0.01478,Saudi Arabia,682,Asia,True,2149690.0,17.1871,44.5147,"IRQ, JOR, KWT, OMN, QAT, ARE, YEM",40,22.50
38,35163944,0.01549,Uzbekistan,860,Asia,True,440650.0,79.8002,206.6824,"AFG, KAZ, KGZ, TJK, TKM",43,41.20
40,34308525,0.01091,Malaysia,458,Asia,True,328550.0,104.4241,270.4583,"BRN, IDN, THA",46,19.36
42,30896590,0.01143,Nepal,524,Asia,True,143350.0,215.5325,558.2293,"CHN, IND",49,44.46
44,23923276,0.00125,Taiwan,158,Asia,False,36197.0,660.9188,1711.7796,NaN,57,17.16
45,23227014,0.04980,Syria,760,Asia,True,183630.0,126.4881,327.6042,"IRQ, ISR, JOR, LBN, TUR",60,32.20
46,21893579,0.00281,Sri Lanka,144,Asia,True,61860.0,353.9214,916.6565,IND,61,25.20
49,19606633,0.01076,Kazakhstan,398,Asia,True,2699700.0,7.2625,18.8099,"CHN, KGZ, RUS, TKM, UZB",66,23.60
53,16944826,0.01056,Cambodia,116,Asia,True,176520.0,95.9938,248.6239,"LAO, THA, VNM",73,21.10
55,11337052,0.00454,Jordan,400,Asia,True,88794.0,127.6781,330.6864,"IRQ, ISR, SAU, SYR",83,18.30
61,9516871,0.00802,United Arab Emirates,784,Asia,True,71020.0,134.0027,347.0670,"OMN, SAU",96,38.94
62,9174520,0.01507,Israel,376,Asia,True,21640.0,423.9612,1098.0595,"EGY, JOR, LBN, SYR",98,20.83
65,7633779,0.01385,Laos,418,Asia,True,230800.0,33.0753,85.6650,"MMR, KHM, CHN, THA, VNM",103,23.10
66,7491609,0.00037,Hong Kong,344,Asia,False,1050.0,7134.8657,18479.3022,CHN,104,20.30
68,6735347,0.01579,Kyrgyzstan,417,Asia,True,191800.0,35.1165,90.9518,"CHN, KAZ, TJK, UZB",109,33.20
70,6014723,0.00653,Singapore,702,Asia,True,718.0,8377.0515,21696.5635,NaN,114,19.00
78,4310108,0.00966,Kuwait,414,Asia,True,17820.0,241.8691,626.4411,"IRQ, SAU",129,38.30
80,3728282,-0.00430,Georgia,268,Asia,True,69490.0,53.6521,138.9588,"ARM, AZE, RUS, TUR",132,20.10
81,3447157,0.01436,Mongolia,496,Asia,True,1557506.8,2.2133,5.7323,"CHN, RUS",133,62.00
84,2777970,-0.00090,Armenia,51,Asia,True,28470.0,97.5753,252.7201,"AZE, GEO, IRN, TUR",140,25.51
88,1485509,0.00902,Bahrain,48,Asia,True,785.0,1892.3682,4901.2335,NaN,154,46.80
91,704149,0.01292,Macau,446,Asia,False,32.9,21402.7052,55433.0064,CHN,167,23.50

In [15]:
# Menampilkan data negara dengan polusi diatas rata-rata
polution_mean_more

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
0,1428627663,0.00808,India,356,Asia,True,2973190.0,480.5033,1244.5036,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",1,58.08
1,1425671352,-0.00015,China,156,Asia,True,9424702.9,151.2696,391.7884,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",2,39.12
3,277534122,0.00738,Indonesia,360,Asia,True,1877519.0,147.8196,382.8528,"TLS, MYS, PNG",4,51.71
4,240485658,0.01976,Pakistan,586,Asia,True,770880.0,311.9625,807.9829,"AFG, CHN, IND, IRN",5,65.81
7,172954319,0.01033,Bangladesh,50,Asia,True,130170.0,1328.6803,3441.2821,"MMR, IND",8,83.30