In [1]:
import pandas as pd

In [2]:
# Read Data
yt_videos_1 = pd.read_csv("youtube-videos-1.csv")

# Tampilkan 5 data teratas
yt_videos_1.head()

,title,published_at,duration,view_count,like_count,comment_count
0,Let's see if you dare next time #Shorts #017,2023-04-25T02:40:11Z,PT18S,246200629,1572774.0,942.0
1,[6Î≤à] ÏãùÎãπ ÏóÖÏÜåÏö© ÏùåÏãùÌè¨Ïû• ÎπÑÎãêÎû© Ï†àÎã®Í∏∞,2023-05-11T07:08:02Z,PT15S,160984366,1472323.0,678.0
2,Khaby Lame react epic moments #shorts #kabhylame,2023-05-12T09:35:22Z,PT19S,96455747,2312319.0,2203.0
3,Polina Knoroz's Cute Moment in Sports #shorts,2023-06-11T13:30:04Z,PT35S,91902366,1397067.0,930.0
4,Salute to indian armyüáÆüá≥‚ù§Ô∏èüíØ #army #trending #vi...,2023-05-05T14:00:16Z,PT30S,85157682,1973374.0,0.0

In [3]:
# Tampilkan info
yt_videos_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          200 non-null    object
 1   published_at   200 non-null    object
 2   duration       200 non-null    object
 3   view_count     200 non-null    int64
 4   like_count     197 non-null    float64
 5   comment_count  193 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 9.5+ KB

In [4]:
# Read data
yt_videos_2 = pd.read_csv("youtube-videos-2.csv")

# Tampilkan 5 data teratas
yt_videos_2.head()

,title,published_at,duration,view_count,like_count,comment_count
0,Imlie | ‡§á‡§Æ‡§≤‡•Ä | Imlie aur Aryan ki shaadi ke sp...,2023-04-08T12:00:42Z,PT9M17S,731419,7741.0,127.0
1,Taylor Swift feels a bit anxious while signing...,2023-12-11T02:02:13Z,PT33S,743408,79234.0,134.0
2,Imlie | ‡§á‡§Æ‡§≤‡•Ä |Nimbu paani samjhkar Imlie ne pi...,2023-03-14T14:31:34Z,PT10M5S,728467,6439.0,39.0
3,Imlie | ‡§á‡§Æ‡§≤‡•Ä | Kyun nahi lagayi Imlie ne Aryan...,2023-04-07T16:00:23Z,PT11M56S,719893,7261.0,71.0
4,25 Most Beautiful Caribbean Islands | Best Car...,2023-04-29T16:33:27Z,PT47M3S,720998,5245.0,206.0

In [5]:
# Tampilkan info
yt_videos_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          280 non-null    object
 1   published_at   280 non-null    object
 2   duration       280 non-null    object
 3   view_count     280 non-null    int64
 4   like_count     280 non-null    float64
 5   comment_count  276 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 13.3+ KB

In [6]:
# Buat dataframe baru untuk menyimpan hasil concat
yt_videos_concat = pd.concat([yt_videos_1, yt_videos_2],
                              ignore_index = True)

# Menampilkan 5 data teratas
yt_videos_concat.head()

,title,published_at,duration,view_count,like_count,comment_count
0,Let's see if you dare next time #Shorts #017,2023-04-25T02:40:11Z,PT18S,246200629,1572774.0,942.0
1,[6Î≤à] ÏãùÎãπ ÏóÖÏÜåÏö© ÏùåÏãùÌè¨Ïû• ÎπÑÎãêÎû© Ï†àÎã®Í∏∞,2023-05-11T07:08:02Z,PT15S,160984366,1472323.0,678.0
2,Khaby Lame react epic moments #shorts #kabhylame,2023-05-12T09:35:22Z,PT19S,96455747,2312319.0,2203.0
3,Polina Knoroz's Cute Moment in Sports #shorts,2023-06-11T13:30:04Z,PT35S,91902366,1397067.0,930.0
4,Salute to indian armyüáÆüá≥‚ù§Ô∏èüíØ #army #trending #vi...,2023-05-05T14:00:16Z,PT30S,85157682,1973374.0,0.0

In [7]:
# Menampilkan 5 data terakhir
yt_videos_concat.tail()

,title,published_at,duration,view_count,like_count,comment_count
475,White People Hate Black Hair?,2023-12-10T17:30:06Z,PT1M,99052,11291.0,1210.0
476,Biden White House is 'stonewalling' this inves...,2023-12-10T17:00:20Z,PT5M27S,94648,2690.0,964.0
477,[Îã§ÏãúÎ≥¥Í∏∞] Î∞±ÌòÑÎèô Î∞úÏñ∏ ÌóàÏúÑÎùºÎèÑ‚Ä¶„Ö£2023ÎÖÑ 12Ïõî 11Ïùº ÍπÄÏßÑÏùò ÎçîÎùºÎ∞©,2023-12-11T02:11:28Z,PT42M49S,93376,7401.0,169.0
478,[2023ÎÖÑ 12Ïõî 11Ïùº ÏõîÏöîÏùº Ïò§Ï†Ñ 8Ïãú ÏÉùÎ∞©ÏÜ°] ÍπÄÍ∏∞ÌòÑ Í±∞Ï∑® Í≤∞Îã® ÏöîÍµ¨ Î¥áÎ¨º,2023-12-11T02:02:57Z,PT2H56M59S,89526,15254.0,152.0
479,‚úÖ MISA DE HOY lunes 11 de Diciembre 2023 - Pad...,2023-12-11T14:07:24Z,PT1H1M50S,113137,23035.0,761.0

In [8]:
# Merubah kolom 'published_at' menjadi datetime
yt_videos_concat['published_at'] = pd.to_datetime(yt_videos_concat['published_at'])

# Menampilkan 5 data teratas
yt_videos_concat.head()

,title,published_at,duration,view_count,like_count,comment_count
0,Let's see if you dare next time #Shorts #017,2023-04-25 02:40:11+00:00,PT18S,246200629,1572774.0,942.0
1,[6Î≤à] ÏãùÎãπ ÏóÖÏÜåÏö© ÏùåÏãùÌè¨Ïû• ÎπÑÎãêÎû© Ï†àÎã®Í∏∞,2023-05-11 07:08:02+00:00,PT15S,160984366,1472323.0,678.0
2,Khaby Lame react epic moments #shorts #kabhylame,2023-05-12 09:35:22+00:00,PT19S,96455747,2312319.0,2203.0
3,Polina Knoroz's Cute Moment in Sports #shorts,2023-06-11 13:30:04+00:00,PT35S,91902366,1397067.0,930.0
4,Salute to indian armyüáÆüá≥‚ù§Ô∏èüíØ #army #trending #vi...,2023-05-05 14:00:16+00:00,PT30S,85157682,1973374.0,0.0

In [9]:
# Tampilkan tipe data dari data tersebut
yt_videos_concat.dtypes

title                         object
published_at     datetime64[ns, UTC]
duration                      object
view_count                     int64
like_count                   float64
comment_count                float64
dtype: object

In [10]:
# Ekstrak data tahun dari kolom 'published_at'
yt_videos_concat["year_published"] = yt_videos_concat["published_at"].dt.year

# Ekstrak data bulan dari kolom 'published_at'
yt_videos_concat["month_published"] = yt_videos_concat["published_at"].dt.month

# Ekstrak data tanggal dari kolom 'published_at'
yt_videos_concat["day_published"] = yt_videos_concat["published_at"].dt.day

# Hapus kolom 'published_at'
yt_videos_concat.drop(columns = "published_at", inplace = True)

# Menampilkan 5 data teratas
yt_videos_concat.head()

,title,duration,view_count,like_count,comment_count,year_published,month_published,day_published
0,Let's see if you dare next time #Shorts #017,PT18S,246200629,1572774.0,942.0,2023,4,25
1,[6Î≤à] ÏãùÎãπ ÏóÖÏÜåÏö© ÏùåÏãùÌè¨Ïû• ÎπÑÎãêÎû© Ï†àÎã®Í∏∞,PT15S,160984366,1472323.0,678.0,2023,5,11
2,Khaby Lame react epic moments #shorts #kabhylame,PT19S,96455747,2312319.0,2203.0,2023,5,12
3,Polina Knoroz's Cute Moment in Sports #shorts,PT35S,91902366,1397067.0,930.0,2023,6,11
4,Salute to indian armyüáÆüá≥‚ù§Ô∏èüíØ #army #trending #vi...,PT30S,85157682,1973374.0,0.0,2023,5,5

In [11]:
# Buat objek untuk menyimpan data hasil grouping
yt_videos_group = yt_videos_concat.groupby('month_published')

In [12]:
# Menggunakan metode idxmax() untuk mendapatkan indeks dari baris dengan jumlah view terbanyak
idx_max = yt_videos_group.view_count.idxmax()

# Menggunakan indeks yang telah ditemukan untuk mendapatkan baris dengan jumlah view terbanyak dari DataFrame hasil concat
most_view = yt_videos_concat.loc[idx_max]

# Menampilkan baris dengan jumlah view terbanyak
most_view

,title,duration,view_count,like_count,comment_count,year_published,month_published,day_published
12,Amazing Masala Guava | traditional food home,PT44S,45966884,1814779.0,2909.0,2023,1,6
6,Khaby Lame react epic moments #shorts #kabhylame,PT24S,68627526,1720630.0,907.0,2023,2,16
7,Happiness ‚ù§Ô∏è | Wild Cookbook,PT58S,61273357,2385050.0,6365.0,2023,3,18
0,Let's see if you dare next time #Shorts #017,PT18S,246200629,1572774.0,942.0,2023,4,25
1,[6Î≤à] ÏãùÎãπ ÏóÖÏÜåÏö© ÏùåÏãùÌè¨Ïû• ÎπÑÎãêÎû© Ï†àÎã®Í∏∞,PT15S,160984366,1472323.0,678.0,2023,5,11
3,Polina Knoroz's Cute Moment in Sports #shorts,PT35S,91902366,1397067.0,930.0,2023,6,11
115,DD News 24x7 | Breaking News & Latest Updates ...,P0D,2073512,6667.0,NaN,2023,9,26
293,LIVE üî¥ C√¢ntece TraLaLa pentru Copii de GrƒÉdini...,P0D,367614,2037.0,0.0,2023,11,27
91,Tose Nainaa Milaai Ke | 10 December 2023 | Ful...,PT22M9S,3114372,42448.0,732.0,2023,12,10

In [13]:
# Mendapatkan data pada bulan 2 dari hasil grouping
feb_2023_data = yt_videos_group.get_group(2)

# Urutkan data pada bulan 2 tersebut berdasarkan kolom 'view_count'
feb_2023_data_sort = feb_2023_data.sort_values(by = 'view_count',
                                               ascending = False)

# Menampilkan data
feb_2023_data_sort

,title,duration,view_count,like_count,comment_count,year_published,month_published,day_published
6,Khaby Lame react epic moments #shorts #kabhylame,PT24S,68627526,1720630.0,907.0,2023,2,16
25,DILU Beats - Numba Ha (Suraganak Wilasa) - Off...,PT2M44S,17973032,114304.0,6422.0,2023,2,5
28,toy car towed by crane #shorts,PT40S,15084784,837257.0,1105.0,2023,2,17
48,‡∂ö‡∑ú‡∂∏‡∑Ö‡∑í | Komali - Jaanu Teledrama Theme Song | ITN,PT3M11S,8358892,54222.0,1317.0,2023,2,17
50,Baby Jackfruit (Polos) Patties | Wild Cookbook,PT1M,6236748,311156.0,642.0,2023,2,21
52,How to draw rose flower very easy #shorts,PT31S,5863446,204722.0,565.0,2023,2,11
59,Fsboling-Professional woodworking machinery,PT10S,5053466,18133.0,133.0,2023,2,8
102,Weight Loss Workout easily at home #weightloss...,PT5S,4151404,99143.0,63.0,2023,2,25
78,Red lady Papayas! Yellow ones for sweets & des...,PT23M3S,3928994,27755.0,906.0,2023,2,17
106,Catriona gray üëë Miss universe 2018 üòç Swimsuit ...,PT32S,2683122,93435.0,495.0,2023,2,19
117,Doctor Reacts To Anatomy Lessons & First Ever ...,PT48S,2028783,134909.0,1050.0,2023,2,28
121,Floury pumpkinsüéÉ!!Entire family enjoy every to...,PT20M17S,1838574,29928.0,2096.0,2023,2,9
124,@LakaiSikai - Lakaa Ko ü§®üò≥‚ÅâÔ∏è| ‡∂Ω‡∂ö‡∂∫‡∑í ‡∑É‡∑í‡∂ö‡∂∫‡∑í - ‡∂Ω‡∂ö‡∑è...,PT28M18S,1643421,47384.0,1381.0,2023,2,1
139,Poornima Lakshani | Mal Mal Sariya (‡∂∏‡∂Ω‡∑ä ‡∂∏‡∂Ω‡∑ä ‡∑É‡∑è...,PT12M32S,1003127,23056.0,931.0,2023,2,12
158,Car buying made easy | Clutch :15s,PT16S,882303,14.0,0.0,2023,2,21
169,40 Important ROAD SIGNS That You Need To Know ...,PT5M20S,833431,7572.0,150.0,2023,2,28
210,Explosion-Proof Zombies??? #shorts #pvzmods #pvz,PT29S,780924,23721.0,39.0,2023,2,28
188,Large Monster crabü¶Ämeat is tender with coconut...,PT20M10S,773008,7612.0,77.0,2023,2,10
214,Amazing Create Woodworking Drill Stands #woodw...,PT1M,737847,12462.0,45.0,2023,2,20
287,Tere dil ka mere dil se song Reverb - Ye Hai M...,PT5M48S,374681,1813.0,24.0,2023,2,2
308,Batman and Wonder Woman Love Story,PT6M5S,332343,5048.0,191.0,2023,2,16
335,Eliminate FPS Stutters with this ONE SETTING o...,PT5M6S,299902,7224.0,444.0,2023,2,9
350,–¢–æ—Ä—Ç ¬´–¢–†–ò –°–¢–ê–ö–ê–ù–ê¬ª #—Ç–æ—Ä—Ç #—Ä–µ—Ü–µ–ø—Ç—ã #shorts,PT44S,271121,14398.0,84.0,2023,2,16
368,ChatGPT Makes PowerPoint Slides For You ü§© || @...,PT59S,226208,5371.0,36.0,2023,2,27
370,"""Eagle 44""-‡Æê ‡Æµ‡Øà‡Æ§‡Øç‡Æ§‡ØÅ Israel-‡Æê ‡ÆÆ‡Æø‡Æ∞‡Æü‡Øç‡Æü‡ØÅ‡ÆÆ‡Øç Iran |...",PT10M23S,225088,2650.0,105.0,2023,2,11