In [1]:
import pandas as pd

In [2]:
df1 = {
    "pet" : ["Dog","Cat"],
    "color" : ["Black","White"]
}

df1 = pd.DataFrame(df1)
df1

   pet  color
0  Dog  Black
1  Cat  White

In [4]:
df2 = {
    "pet" : ["fish","turtle"],
    "color" : ["Yellow", "Black"]
}

df2 = pd.DataFrame(df2)
df2

      pet   color
0    fish  Yellow
1  turtle   Black

In [5]:
df_concat = pd.concat([df1,df2])
df_concat

      pet   color
0     Dog   Black
1     Cat   White
0    fish  Yellow
1  turtle   Black

In [6]:
df_concat = pd.concat([df1,df2], ignore_index=True)
df_concat

      pet   color
0     Dog   Black
1     Cat   White
2    fish  Yellow
3  turtle   Black