In [2]:
import pandas as pd

In [3]:
df1 = {
    "pet" : ["Dog","Cat"],
    "color" : ["Black","White"]
}

df1 = pd.DataFrame(df1)
df1

   pet  color
0  Dog  Black
1  Cat  White

In [4]:
df2 = {
    "pet" : ["fish","turtle"],
    "color" : ["Yellow", "Black"]
}

df2 = pd.DataFrame(df2)
df2

      pet   color
0    fish  Yellow
1  turtle   Black

In [5]:
df_concat = pd.concat([df1,df2])
df_concat

      pet   color
0     Dog   Black
1     Cat   White
0    fish  Yellow
1  turtle   Black

In [6]:
df_concat = pd.concat([df1,df2], ignore_index=True)
df_concat

      pet   color
0     Dog   Black
1     Cat   White
2    fish  Yellow
3  turtle   Black

In [7]:
df_concat = pd.concat([df1,df2], keys=['darat','laut'])
df_concat

            pet   color
darat 0     Dog   Black
      1     Cat   White
laut  0    fish  Yellow
      1  turtle   Black

In [8]:
# Memilih data dengan keys 'darat'
df_concat.loc['darat']

   pet  color
0  Dog  Black
1  Cat  White

In [9]:
df1 = {
    "pet" : ["Dog","Cat"],
    "name" : ["Bleki","Alexa"]
}

df2 = {
    "pet" : ["Dog","Cat","Fish"],
    "color" : ["Black","White","Yellow"]
}

df1 = pd.DataFrame(df1)
df2 = pd.DataFrame(df2)

In [10]:
df1

   pet   name
0  Dog  Bleki
1  Cat  Alexa

In [11]:
df2

    pet   color
0   Dog   Black
1   Cat   White
2  Fish  Yellow

In [12]:
df_concat = pd.concat([df1,df2])
df_concat

    pet   name   color
0   Dog  Bleki     NaN
1   Cat  Alexa     NaN
0   Dog    NaN   Black
1   Cat    NaN   White
2  Fish    NaN  Yellow

In [13]:
# Concat kolom - Menggabungkan kolom
# Buat dataframe baru untuk menyimpan hasil concat

df_concat = pd.concat([df1,df2], axis=1)
df_concat

   pet   name   pet   color
0  Dog  Bleki   Dog   Black
1  Cat  Alexa   Cat   White
2  NaN    NaN  Fish  Yellow

In [17]:
# Concat kolom dengan tipe inner join - Menggabungkan kolom
# Buat dataframe baru untuk menyimpan hasil concat
df_concat = pd.concat([df1,df2], axis = 1, join="outer")
df_concat

   pet   name   pet   color
0  Dog  Bleki   Dog   Black
1  Cat  Alexa   Cat   White
2  NaN    NaN  Fish  Yellow

# **MINI EXERCISE**

In [18]:
climate_change = pd.read_csv("reddit_opinion_climate_change.csv")
climate_change

,comment_id,created_time,self_text,subreddit,score
0,kbbycqo,2023-11-29 23:28:59,"Yeah, I understood that, can you link to your ...",climatechange,1
1,kbbxiah,2023-11-29 23:23:01,It's Robotics;Notes all over again.,worldnews,1
2,kbbx4td,2023-11-29 23:20:24,Technology improves at an exponential rate.,changemyview,1
3,kbbwzou,2023-11-29 23:19:25,Of course they do. Fuck the GOP. Seriously FUC...,politics,1
4,kbbwbin,2023-11-29 23:14:47,"There's nothing ""natural"" about it. Why would ...",climatechange,1
...,...,...,...,...,...
995,kb907wa,2023-11-29 11:49:27,The concept of oneness works in mysterious ways.,worldnews,2
996,kb905gr,2023-11-29 11:48:43,Better to endlessly fight any sort of green tr...,canada,1
997,kb902wx,2023-11-29 11:47:57,Anyone watching CNN is already lost. Don't mi...,conspiracy,10
998,kb8zyxi,2023-11-29 11:46:44,I still remember when carbon passports were ju...,conspiracy,143
999,kb8zyy0,2023-11-29 11:46:44,They can’t get funding if there isn’t a way to...,climateskeptics,2

In [19]:
climate_change_author = pd.read_csv("reddit_opinion_climate_change_author.csv")
climate_change_author

    comment_id           author_name
0      kb9ouxb  Reasonable_Cover_804
1      kb9ix6s     Wave_of_Anal_Fury
2      kb9jcsb        SadPanthersFan
3      kbbkdsh           mrjigglyman
4      kbbiwxi            drkstlth01
..         ...                   ...
995    kb97cku              DeltaBot
996    kb9l893           sobakablack
997    kb9z952   whatarechimichangas
998    kb9wd7b      thatguythatbowls
999    kbajnq2                 Vv4nd

[1000 rows x 2 columns]

In [20]:
climate_change.set_index("comment_id", inplace=True)
climate_change.head(5)

,created_time,self_text,subreddit,score
comment_id,,,,
kbbycqo,2023-11-29 23:28:59,"Yeah, I understood that, can you link to your ...",climatechange,1
kbbxiah,2023-11-29 23:23:01,It's Robotics;Notes all over again.,worldnews,1
kbbx4td,2023-11-29 23:20:24,Technology improves at an exponential rate.,changemyview,1
kbbwzou,2023-11-29 23:19:25,Of course they do. Fuck the GOP. Seriously FUC...,politics,1
kbbwbin,2023-11-29 23:14:47,"There's nothing ""natural"" about it. Why would ...",climatechange,1

In [21]:
climate_change_author.set_index("comment_id", inplace=True)
climate_change_author.head(5)

                     author_name
comment_id
kb9ouxb     Reasonable_Cover_804
kb9ix6s        Wave_of_Anal_Fury
kb9jcsb           SadPanthersFan
kbbkdsh              mrjigglyman
kbbiwxi               drkstlth01

In [22]:
df_concat = pd.concat([climate_change,climate_change_author])
df_concat

,created_time,self_text,subreddit,score,author_name
comment_id,,,,,
kbbycqo,2023-11-29 23:28:59,"Yeah, I understood that, can you link to your ...",climatechange,1.0,NaN
kbbxiah,2023-11-29 23:23:01,It's Robotics;Notes all over again.,worldnews,1.0,NaN
kbbx4td,2023-11-29 23:20:24,Technology improves at an exponential rate.,changemyview,1.0,NaN
kbbwzou,2023-11-29 23:19:25,Of course they do. Fuck the GOP. Seriously FUC...,politics,1.0,NaN
kbbwbin,2023-11-29 23:14:47,"There's nothing ""natural"" about it. Why would ...",climatechange,1.0,NaN
...,...,...,...,...,...
kb97cku,NaN,NaN,NaN,NaN,DeltaBot
kb9l893,NaN,NaN,NaN,NaN,sobakablack
kb9z952,NaN,NaN,NaN,NaN,whatarechimichangas
kb9wd7b,NaN,NaN,NaN,NaN,thatguythatbowls
kbajnq2,NaN,NaN,NaN,NaN,Vv4nd