In [1]:
import pandas as pd

In [2]:
property_data = pd.read_csv("property_data.csv")
property_data

,lai,ST_NUM,ST_NAME,OWN_OCCUPIED,NUM_BEDROOMS,NUM_BATH,SQ_FT
0,100001000,104,PUTNAM,Y,3.0,1.0,900.0
1,100002000,197,LXT,N,1.0,1.0,NaN
2,100003000,199,LEXINGTON,N,NaN,1.0,850.0
3,100004000,201,berkeley,Y,1.0,NaN,700.0
4,100004000,201,berkeley,Y,1.0,NaN,700.0
5,100005000,203,BERKELEY,Y,3.0,2.0,975.0
6,100006000,207,Berkeley,Y,NaN,1.0,800.0
7,100007000,209,WASHINGTON,NaN,2.0,1.0,950.0
8,100008000,213,TREMONT,Y,1.0,1.0,NaN
9,100009000,215,TREMONT,Y,NaN,2.0,88000.0
10,100007000,209,WASHINGTON,NaN,2.0,1.0,950.0

In [3]:
property_data.shape

(11, 7)

In [4]:

# mencek type data dengan menggunakan fungsi .dtypes
property_data.dtypes

lai               int64
ST_NUM            int64
ST_NAME          object
OWN_OCCUPIED     object
NUM_BEDROOMS    float64
NUM_BATH        float64
SQ_FT           float64
dtype: object

In [5]:
# mencek type data dengan menggunakan fungsi .info()
property_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lai           11 non-null     int64
 1   ST_NUM        11 non-null     int64
 2   ST_NAME       11 non-null     object
 3   OWN_OCCUPIED  9 non-null      object
 4   NUM_BEDROOMS  8 non-null      float64
 5   NUM_BATH      9 non-null      float64
 6   SQ_FT         9 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 748.0+ bytes