In [1]:
import pandas as pd

In [2]:
df1 = {
    "pet" : ["Dog","Cat","Rabbit","Fish","Turtle"]
}

df1 = pd.DataFrame(df1)
df1

      pet
0     Dog
1     Cat
2  Rabbit
3    Fish
4  Turtle

In [3]:
df2 = {
    "color" : ["Black","Blue","Red","Green","Yellow","White"]
}

df2 = pd.DataFrame(df2)
df2

    color
0   Black
1    Blue
2     Red
3   Green
4  Yellow
5   White

In [9]:
df_join = df1.join(df2)
df_join

      pet   color
0     Dog   Black
1     Cat    Blue
2  Rabbit     Red
3    Fish   Green
4  Turtle  Yellow

In [7]:
df_join = df1.join(df2, how="right")
df_join

      pet   color
0     Dog   Black
1     Cat    Blue
2  Rabbit     Red
3    Fish   Green
4  Turtle  Yellow
5     NaN   White

In [10]:
df_join = df1.join(df2, how="outer")
df_join

      pet   color
0     Dog   Black
1     Cat    Blue
2  Rabbit     Red
3    Fish   Green
4  Turtle  Yellow
5     NaN   White

In [11]:
df_join = df1.join(df2, how="inner")
df_join

      pet   color
0     Dog   Black
1     Cat    Blue
2  Rabbit     Red
3    Fish   Green
4  Turtle  Yellow

In [12]:
climate_change = pd.read_csv("reddit_opinion_climate_change.csv")
climate_change

,comment_id,created_time,self_text,subreddit,score
0,kbbycqo,2023-11-29 23:28:59,"Yeah, I understood that, can you link to your ...",climatechange,1
1,kbbxiah,2023-11-29 23:23:01,It's Robotics;Notes all over again.,worldnews,1
2,kbbx4td,2023-11-29 23:20:24,Technology improves at an exponential rate.,changemyview,1
3,kbbwzou,2023-11-29 23:19:25,Of course they do. Fuck the GOP. Seriously FUC...,politics,1
4,kbbwbin,2023-11-29 23:14:47,"There's nothing ""natural"" about it. Why would ...",climatechange,1
...,...,...,...,...,...
995,kb907wa,2023-11-29 11:49:27,The concept of oneness works in mysterious ways.,worldnews,2
996,kb905gr,2023-11-29 11:48:43,Better to endlessly fight any sort of green tr...,canada,1
997,kb902wx,2023-11-29 11:47:57,Anyone watching CNN is already lost. Don't mi...,conspiracy,10
998,kb8zyxi,2023-11-29 11:46:44,I still remember when carbon passports were ju...,conspiracy,143
999,kb8zyy0,2023-11-29 11:46:44,They can’t get funding if there isn’t a way to...,climateskeptics,2

In [13]:
climate_change_author = pd.read_csv("reddit_opinion_climate_change_author.csv")
climate_change_author

    comment_id           author_name
0      kb9ouxb  Reasonable_Cover_804
1      kb9ix6s     Wave_of_Anal_Fury
2      kb9jcsb        SadPanthersFan
3      kbbkdsh           mrjigglyman
4      kbbiwxi            drkstlth01
..         ...                   ...
995    kb97cku              DeltaBot
996    kb9l893           sobakablack
997    kb9z952   whatarechimichangas
998    kb9wd7b      thatguythatbowls
999    kbajnq2                 Vv4nd

[1000 rows x 2 columns]

In [38]:
climate_change.set_index("comment_id", inplace=True)
climate_change_author.set_index("comment_id", inplace=True)

In [41]:
df_join = climate_change.join(climate_change_author, how="left")
df_join

,created_time,self_text,subreddit,score,author_name
comment_id,,,,,
kbbycqo,2023-11-29 23:28:59,"Yeah, I understood that, can you link to your ...",climatechange,1,Lumi_Tonttu
kbbxiah,2023-11-29 23:23:01,It's Robotics;Notes all over again.,worldnews,1,Yezzik
kbbx4td,2023-11-29 23:20:24,Technology improves at an exponential rate.,changemyview,1,SeaBearsFoam
kbbwzou,2023-11-29 23:19:25,Of course they do. Fuck the GOP. Seriously FUC...,politics,1,Onthemightof
kbbwbin,2023-11-29 23:14:47,"There's nothing ""natural"" about it. Why would ...",climatechange,1,Jake0024
...,...,...,...,...,...
kb907wa,2023-11-29 11:49:27,The concept of oneness works in mysterious ways.,worldnews,2,ThemWhomst
kb905gr,2023-11-29 11:48:43,Better to endlessly fight any sort of green tr...,canada,1,MissJVOQ
kb902wx,2023-11-29 11:47:57,Anyone watching CNN is already lost. Don't mi...,conspiracy,10,topcat5
kb8zyxi,2023-11-29 11:46:44,I still remember when carbon passports were ju...,conspiracy,143,shicazen
kb8zyy0,2023-11-29 11:46:44,They can’t get funding if there isn’t a way to...,climateskeptics,2,james_lpm

In [42]:
df_join = climate_change.join(climate_change_author, how="right")
df_join

,created_time,self_text,subreddit,score,author_name
comment_id,,,,,
kb9ouxb,2023-11-29 15:09:41,"I’m so happy to have people like this, helps m...",climateskeptics,4,Reasonable_Cover_804
kb9ix6s,2023-11-29 14:29:10,Yep. That's why it's extraordinarily disingen...,climate,3,Wave_of_Anal_Fury
kb9jcsb,2023-11-29 14:32:17,Yeah fuck all that. I’m not dying for an insur...,changemyview,1,SadPanthersFan
kbbkdsh,2023-11-29 21:57:19,What do you mean it’s a joke? HUMOR?! At a tim...,worldnews,6,mrjigglyman
kbbiwxi,2023-11-29 21:48:26,Who listens to this shit?,climateskeptics,2,drkstlth01
...,...,...,...,...,...
kb97cku,2023-11-29 12:58:47,Confirmed: 1 delta awarded to /u/merlinus12 ([...,changemyview,1,DeltaBot
kb9l893,2023-11-29 14:45:24,"CNN has a new show called ""king charles""",conspiracy,1,sobakablack
kb9z952,2023-11-29 16:14:55,"Lol awesome. Homo Novus I got from Metro 2033,...",changemyview,1,whatarechimichangas
kb9wd7b,2023-11-29 15:57:13,Because his terrible organization promotes tha...,conspiracy,6,thatguythatbowls
kbajnq2,2023-11-29 18:14:59,"not really, part of the normal cycle that repe...",worldnews,51,Vv4nd