In [1]:
import pandas as pd

In [2]:
superstore_df = pd.read_csv("superstore.csv")
superstore_df.head()

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,Order.Date,Order.ID,Order.Priority,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2011-01-07 00:00:00.000,CA-2011-130813,High,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,2011-01-21 00:00:00.000,CA-2011-148614,Medium,...,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,2011-08-05 00:00:00.000,CA-2011-118962,Medium,...,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,2011-08-05 00:00:00.000,CA-2011-118962,Medium,...,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,2011-09-29 00:00:00.000,CA-2011-146969,High,...,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40

In [6]:
# Select data
superstore_df = superstore_df[['Category', 'Order.Date', 'Profit']]

# Menampilkan 5 data teratas
superstore_df.head()

          Category               Order.Date   Profit
0  Office Supplies  2011-01-07 00:00:00.000   9.3312
1  Office Supplies  2011-01-21 00:00:00.000   9.2928
2  Office Supplies  2011-08-05 00:00:00.000   9.8418
3  Office Supplies  2011-08-05 00:00:00.000  53.2608
4  Office Supplies  2011-09-29 00:00:00.000   3.1104

In [7]:
superstore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Category    51290 non-null  object
 1   Order.Date  51290 non-null  object
 2   Profit      51290 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.2+ MB

In [8]:
# Casting data
superstore_df['Order.Date'] = pd.to_datetime(superstore_df['Order.Date'])

# Menampilkan 5 data teratas
superstore_df.head()

          Category Order.Date   Profit
0  Office Supplies 2011-01-07   9.3312
1  Office Supplies 2011-01-21   9.2928
2  Office Supplies 2011-08-05   9.8418
3  Office Supplies 2011-08-05  53.2608
4  Office Supplies 2011-09-29   3.1104

In [9]:
superstore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Category    51290 non-null  object
 1   Order.Date  51290 non-null  datetime64[ns]
 2   Profit      51290 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.2+ MB

In [10]:
# Membuat kolom "year_order" untuk menyimpan hasil ekstraksi tahun dari kolom "Order.Date"
superstore_df['year_order'] = superstore_df['Order.Date'].dt.year

# Membuat kolom "month_order" untuk menyimpan hasil ekstraksi bulan dari kolom "Order.Date"
superstore_df['month_order'] = superstore_df['Order.Date'].dt.month

# Membuat kolom "day_order" untuk menyimpan hasil ekstraksi tanggal dari kolom "Order.Date"
superstore_df['day_order'] = superstore_df['Order.Date'].dt.day

# Menampilkan 5 data teratas
superstore_df.head()

          Category Order.Date   Profit  year_order  month_order  day_order
0  Office Supplies 2011-01-07   9.3312        2011            1          7
1  Office Supplies 2011-01-21   9.2928        2011            1         21
2  Office Supplies 2011-08-05   9.8418        2011            8          5
3  Office Supplies 2011-08-05  53.2608        2011            8          5
4  Office Supplies 2011-09-29   3.1104        2011            9         29

In [11]:
# Menampilkan info dari data superstore
superstore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Category     51290 non-null  object
 1   Order.Date   51290 non-null  datetime64[ns]
 2   Profit       51290 non-null  float64
 3   year_order   51290 non-null  int32
 4   month_order  51290 non-null  int32
 5   day_order    51290 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(3), object(1)
memory usage: 1.8+ MB