In [2]:
import pandas as pd

*Menghitung Rata - Rata*

In [3]:
superstore_df = pd.read_csv("superstore.csv")
superstore_df

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,Order.Date,Order.ID,Order.Priority,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2011-01-07 00:00:00.000,CA-2011-130813,High,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,2011-01-21 00:00:00.000,CA-2011-148614,Medium,...,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,2011-08-05 00:00:00.000,CA-2011-118962,Medium,...,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,2011-08-05 00:00:00.000,CA-2011-118962,Medium,...,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,2011-09-29 00:00:00.000,CA-2011-146969,High,...,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,2014-12-03 00:00:00.000,CA-2014-109701,High,...,69,Corporate,2014-12-04 00:00:00.000,Same Day,5.15,California,Binders,2014,North America,49
51286,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,2014-12-03 00:00:00.000,CA-2014-109701,High,...,9,Corporate,2014-12-04 00:00:00.000,Same Day,0.44,California,Binders,2014,North America,49
51287,Office Supplies,Los Angeles,United States,HR-147704,Hallie Redmond,0.2,US,2014-12-18 00:00:00.000,CA-2014-106964,Medium,...,12,Home Office,2014-12-21 00:00:00.000,First Class,0.31,California,Binders,2014,North America,51
51288,Office Supplies,Los Angeles,United States,RM-196754,Robert Marley,0.2,US,2014-12-25 00:00:00.000,CA-2014-145219,Critical,...,90,Home Office,2014-12-26 00:00:00.000,First Class,15.95,California,Binders,2014,North America,52
51289,Office Supplies,Los Angeles,United States,FH-143654,Fred Hopkins,0.2,US,2014-12-26 00:00:00.000,CA-2014-121398,Medium,...,154,Corporate,2014-12-30 00:00:00.000,Standard Class,9.59,California,Binders,2014,North America,52

In [3]:
# Menampilkan info dari data superstore
superstore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        51290 non-null  object
 1   City            51290 non-null  object
 2   Country         51290 non-null  object
 3   Customer.ID     51290 non-null  object
 4   Customer.Name   51290 non-null  object
 5   Discount        51290 non-null  float64
 6   Market          51290 non-null  object
 7   Order.Date      51290 non-null  object
 8   Order.ID        51290 non-null  object
 9   Order.Priority  51290 non-null  object
 10  Product.ID      51290 non-null  object
 11  Product.Name    51290 non-null  object
 12  Profit          51290 non-null  float64
 13  Quantity        51290 non-null  int64
 14  Region          51290 non-null  object
 15  Row.ID          51290 non-null  int64
 16  Sales           51290 non-null  int64
 17  Segment         51290 non-null  object
 18  Ship.Date       51290 non-null  object
 19  Ship.Mode       51290 non-null  object
 20  Shipping.Cost   51290 non-null  float64
 21  State           51290 non-null  object
 22  Sub.Category    51290 non-null  object
 23  Year            51290 non-null  int64
 24  Market2         51290 non-null  object
 25  weeknum         51290 non-null  int64
dtypes: float64(3), int64(5), object(18)
memory usage: 10.2+ MB

In [4]:
# Mencari rata-rata pada kolom Sales
sales_mean = superstore_df.Sales.mean()
print(f"Nilai rata-rata sales : {round(sales_mean,2)}")

Nilai rata-rata sales : 246.5

*Mencari Standard Deviasi*

In [5]:
sales_std = superstore_df.Sales.std()
print(f"Nilai standard deviasi sales : {round(sales_std,2)}")

Nilai standard deviasi sales : 487.57

In [7]:
sales_median = superstore_df.Sales.median()
print(f"Nilai median Sales : {round(sales_median,2)}")

Nilai median Sales : 85.0

In [8]:
sales_max = superstore_df.Sales.max()
print(f"Nilai terbesar Sales : {round(sales_max,2)}")

Nilai terbesar Sales : 22638

In [9]:
sales_min = superstore_df.Sales.min()
print(f"Nilai terkecil dari Sales : {round(sales_min,2)}")

Nilai terkecil dari Sales : 0

In [11]:
sales_count = superstore_df.Sales.count()
print(f"Jumlah baris dari Sales : {round(sales_count,2)}")

Jumlah baris dari Sales : 51290

In [6]:
sales_mode = superstore_df.Sales.mode()
print(f"Jumlah mode dari Sales : {(sales_mode)}")

Jumlah mode dari Sales : 0    13
Name: Sales, dtype: int64

In [13]:
Category_nunique = superstore_df.Category.nunique()
print(f"Jumlah nilai unique dalam kolom Category : {Category_nunique}")

Jumlah nilai unique dalam kolom Category : 3