In [1]:
import pandas as pd

sales_data = pd.read_csv("sales_data_2019.csv")
sales_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665.0,Macbook Pro Laptop,1.0,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666.0,LG Washing Machine,1.0,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667.0,USB-C Charging Cable,1.0,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668.0,27in FHD Monitor,1.0,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669.0,USB-C Charging Cable,1.0,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
25064,319666.0,Lightning Charging Cable,1.0,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25065,319667.0,AA Batteries (4-pack),2.0,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25066,319668.0,Vareebadd Phone,1.0,400.00,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25067,319669.0,Wired Headphones,1.0,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25068,319670.0,Bose SoundSport Headphones,1.0,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [4]:
sales_data2 = sales_data[["Order Date","Product","Quantity Ordered","Price Each","Purchase Address"]]
sales_data2

,Order Date,Product,Quantity Ordered,Price Each,Purchase Address
0,12/30/19 00:01,Macbook Pro Laptop,1.0,1700.00,"136 Church St, New York City, NY 10001"
1,12/29/19 07:03,LG Washing Machine,1.0,600.00,"562 2nd St, New York City, NY 10001"
2,12/12/19 18:21,USB-C Charging Cable,1.0,11.95,"277 Main St, New York City, NY 10001"
3,12/22/19 15:13,27in FHD Monitor,1.0,149.99,"410 6th St, San Francisco, CA 94016"
4,12/18/19 12:38,USB-C Charging Cable,1.0,11.95,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...
25064,12/11/19 20:58,Lightning Charging Cable,1.0,14.95,"14 Madison St, San Francisco, CA 94016"
25065,12/01/19 12:01,AA Batteries (4-pack),2.0,3.84,"549 Willow St, Los Angeles, CA 90001"
25066,12/09/19 06:43,Vareebadd Phone,1.0,400.00,"273 Wilson St, Seattle, WA 98101"
25067,12/03/19 10:39,Wired Headphones,1.0,11.99,"778 River St, Dallas, TX 75001"
25068,12/21/19 21:45,Bose SoundSport Headphones,1.0,99.99,"747 Chestnut St, Los Angeles, CA 90001"

In [10]:
sales_data = sales_data2[150:4214]
sales_data

,Order Date,Product,Quantity Ordered,Price Each,Purchase Address
150,12/19/19 12:57,Lightning Charging Cable,1.0,14.95,"943 Johnson St, San Francisco, CA 94016"
151,12/11/19 19:45,34in Ultrawide Monitor,1.0,379.99,"838 Ridge St, San Francisco, CA 94016"
152,12/24/19 10:39,Lightning Charging Cable,1.0,14.95,"513 Maple St, Los Angeles, CA 90001"
153,12/20/19 02:31,Apple Airpods Headphones,1.0,150.00,"705 4th St, Los Angeles, CA 90001"
154,12/06/19 14:55,Wired Headphones,1.0,11.99,"528 Willow St, New York City, NY 10001"
...,...,...,...,...,...
4209,12/05/19 19:50,USB-C Charging Cable,1.0,11.95,"467 Spruce St, New York City, NY 10001"
4210,12/16/19 13:07,AA Batteries (4-pack),1.0,3.84,"90 Dogwood St, Atlanta, GA 30301"
4211,12/29/19 07:13,AAA Batteries (4-pack),1.0,2.99,"103 Maple St, Atlanta, GA 30301"
4212,12/10/19 10:04,Flatscreen TV,1.0,300.00,"278 Jackson St, New York City, NY 10001"
4213,12/18/19 11:11,USB-C Charging Cable,1.0,11.95,"527 12th St, Los Angeles, CA 90001"

In [19]:
sales_data = sales_data[(sales_data["Quantity Ordered"] > 2) | (sales_data["Price Each"] >= 125)]
sales_data

,Order Date,Product,Quantity Ordered,Price Each,Purchase Address
151,12/11/19 19:45,34in Ultrawide Monitor,1.0,379.99,"838 Ridge St, San Francisco, CA 94016"
153,12/20/19 02:31,Apple Airpods Headphones,1.0,150.00,"705 4th St, Los Angeles, CA 90001"
158,12/28/19 12:33,27in FHD Monitor,1.0,149.99,"602 Ridge St, San Francisco, CA 94016"
163,12/24/19 08:29,AA Batteries (4-pack),3.0,3.84,"987 Cherry St, Los Angeles, CA 90001"
172,12/04/19 13:53,Google Phone,1.0,600.00,"307 Wilson St, San Francisco, CA 94016"
...,...,...,...,...,...
4193,12/21/19 10:26,AA Batteries (4-pack),3.0,3.84,"844 4th St, New York City, NY 10001"
4198,12/20/19 11:27,27in FHD Monitor,1.0,149.99,"117 Highland St, San Francisco, CA 94016"
4204,12/31/19 20:49,Vareebadd Phone,1.0,400.00,"327 Hickory St, San Francisco, CA 94016"
4207,12/29/19 19:37,Macbook Pro Laptop,1.0,1700.00,"38 Sunset St, San Francisco, CA 94016"
4212,12/10/19 10:04,Flatscreen TV,1.0,300.00,"278 Jackson St, New York City, NY 10001"

In [23]:
sales_data.to_csv("new_sales_data.csv",index=0)

In [24]:
pd.read_csv("new_sales_data.csv")

,Order Date,Product,Quantity Ordered,Price Each,Purchase Address
0,12/11/19 19:45,34in Ultrawide Monitor,1.0,379.99,"838 Ridge St, San Francisco, CA 94016"
1,12/20/19 02:31,Apple Airpods Headphones,1.0,150.00,"705 4th St, Los Angeles, CA 90001"
2,12/28/19 12:33,27in FHD Monitor,1.0,149.99,"602 Ridge St, San Francisco, CA 94016"
3,12/24/19 08:29,AA Batteries (4-pack),3.0,3.84,"987 Cherry St, Los Angeles, CA 90001"
4,12/04/19 13:53,Google Phone,1.0,600.00,"307 Wilson St, San Francisco, CA 94016"
...,...,...,...,...,...
1508,12/21/19 10:26,AA Batteries (4-pack),3.0,3.84,"844 4th St, New York City, NY 10001"
1509,12/20/19 11:27,27in FHD Monitor,1.0,149.99,"117 Highland St, San Francisco, CA 94016"
1510,12/31/19 20:49,Vareebadd Phone,1.0,400.00,"327 Hickory St, San Francisco, CA 94016"
1511,12/29/19 19:37,Macbook Pro Laptop,1.0,1700.00,"38 Sunset St, San Francisco, CA 94016"
1512,12/10/19 10:04,Flatscreen TV,1.0,300.00,"278 Jackson St, New York City, NY 10001"