In [1]:
import pandas as pd

In [2]:
superstore_df = pd.read_csv("superstore.csv")

superstore_df = superstore_df[["Category","Order.Date","Profit"]]
superstore_df

              Category               Order.Date   Profit
0      Office Supplies  2011-01-07 00:00:00.000   9.3312
1      Office Supplies  2011-01-21 00:00:00.000   9.2928
2      Office Supplies  2011-08-05 00:00:00.000   9.8418
3      Office Supplies  2011-08-05 00:00:00.000  53.2608
4      Office Supplies  2011-09-29 00:00:00.000   3.1104
...                ...                      ...      ...
51285  Office Supplies  2014-12-03 00:00:00.000  22.5732
51286  Office Supplies  2014-12-03 00:00:00.000   3.1584
51287  Office Supplies  2014-12-18 00:00:00.000   4.2804
51288  Office Supplies  2014-12-25 00:00:00.000  33.9300
51289  Office Supplies  2014-12-26 00:00:00.000  51.8238

[51290 rows x 3 columns]

In [3]:
superstore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Category    51290 non-null  object
 1   Order.Date  51290 non-null  object
 2   Profit      51290 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.2+ MB

In [4]:
# Casting data
superstore_df['Category'] = superstore_df['Category'].astype('category')

# Menampilkan 5 data teratas
superstore_df.head()

          Category               Order.Date   Profit
0  Office Supplies  2011-01-07 00:00:00.000   9.3312
1  Office Supplies  2011-01-21 00:00:00.000   9.2928
2  Office Supplies  2011-08-05 00:00:00.000   9.8418
3  Office Supplies  2011-08-05 00:00:00.000  53.2608
4  Office Supplies  2011-09-29 00:00:00.000   3.1104

In [7]:
# Menampilkan info tipe data dari data superstore
superstore_df.dtypes

Category      category
Order.Date      object
Profit         float64
dtype: object

In [10]:
# generate label dari kolom `Category` dan disimpan kedalam kolom baru `category_label`
superstore_df['category_label'] = superstore_df['Category'].cat.codes

# Menampilkan 5 data teratas
superstore_df.head()

          Category               Order.Date   Profit  category_label
0  Office Supplies  2011-01-07 00:00:00.000   9.3312               1
1  Office Supplies  2011-01-21 00:00:00.000   9.2928               1
2  Office Supplies  2011-08-05 00:00:00.000   9.8418               1
3  Office Supplies  2011-08-05 00:00:00.000  53.2608               1
4  Office Supplies  2011-09-29 00:00:00.000   3.1104               1

In [11]:
# Menampilkan baris pertama hasil grouping berdasarkan category
superstore_df.groupby('Category').first()

C:\Users\user\AppData\Local\Temp\ipykernel_4632\3741079227.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  superstore_df.groupby('Category').first()

                              Order.Date    Profit  category_label
Category
Furniture        2011-01-31 00:00:00.000  517.5600               0
Office Supplies  2011-01-07 00:00:00.000    9.3312               1
Technology       2011-03-01 00:00:00.000  264.6000               2

In [12]:
# Menampilkan info tipe dari data superstore
superstore_df.dtypes

Category          category
Order.Date          object
Profit             float64
category_label        int8
dtype: object